<div class="main">
    <div class="title">
      <div>
        <div id="logoavon"></div>
      </div>
      <h1>Pesquisa - {{title}}</h1>
      <div class="menu">
        <h4><mat-icon class="color" matSuffix>account_circle</mat-icon> {{user}}
        </h4>
        <button
          routerLink="/natura"
          class="logout"
          color="accent"
          mat-button><mat-icon>arrow_back</mat-icon>Voltar</button>
      </div>
    </div>
  
    <p class="space"> </p>
  
    <form [formGroup]="formularioDynamics" class="example-form">
      <div class="pesquisar">
        <div class="search">
          <mat-form-field appearance="fill" class="mopMatricula"
            color="accent">
            <mat-label>Selecione o Item de Pesquisa</mat-label>
            <mat-select disableRipple ngDefaultControl
              formControlName="selecionado" [ngModel]="selecionado"
              (valueChange)="onSelectId($event)">
              <mat-option *ngFor="let id of identificadores" [value]="id">
                {{id}}</mat-option>
            </mat-select>
            <mat-icon matPrefix>search</mat-icon>
            <mat-hint>Selecione uma opção</mat-hint>
          </mat-form-field>
  
          <mat-form-field *ngIf="selecionado=='Código'"
            class="mopMatricula" appearance="fill" color="accent">
            <mat-label>Código</mat-label>
            <input
              matInput
              [disabled]="selecionado!=='Código'"
              placeholder="Digite ou cole aqui o Código da Consultora Natura..."
              ngDefaultControl
              formControlName="codigo"
              [(ngModel)]="codigo">
            <mat-icon matSuffix>fingerprint</mat-icon>
            <mat-hint>Código da Consultora</mat-hint>
          </mat-form-field>
  
          <mat-form-field *ngIf="selecionado=='Pedido'"
            class="mopMatricula" appearance="fill" color="accent">
            <mat-label>Pedido</mat-label>
            <input
              matInput
              placeholder="Digite ou cole aqui o Nº do Pedido..."
              ngDefaultControl
              formControlName="pedido"
              [(ngModel)]="pedido">
            <mat-icon matSuffix>fingerprint</mat-icon>
            <mat-hint>Nº do Pedido</mat-hint>
          </mat-form-field>

          <mat-form-field *ngIf="selecionado=='CPF'"
            class="mopMatricula" appearance="fill" color="accent">
            <mat-label>CPF</mat-label>
            <input
              matInput
              placeholder="Digite ou cole aqui o Nº do CPF..."
              ngDefaultControl
              formControlName="cpf"
              [(ngModel)]="cpf">
            <mat-icon matSuffix>fingerprint</mat-icon>
            <mat-hint>Nº do CPF</mat-hint>
          </mat-form-field>
        </div>

        <div class="botoes">
  
          <button
          class="validar"
          mat-raised-button
          [disabled]="(codigo=== null || codigo=== undefined ||
          codigo=== '') && (pedido === null || pedido ===
          undefined || pedido === '') && (cpf === null || cpf ===
          undefined || cpf === '')"
          (click)="limpar()"
          color="warn"
          aria-label="Example icon button with a home icon">
          <mat-icon>clear</mat-icon> Limpar
        </button>

        

            <button
              *ngIf="selecionado=='Código'"
              class="validar"
              mat-raised-button
              [disabled]="(codigo=== null || codigo=== undefined ||
              codigo=== '') && (pedido === null || pedido ===
              undefined || pedido === '') && (cpf === null || cpf ===
              undefined || cpf === '')"
              (click)="pesquisarCodigo(codigo)"
              color="accent"
              aria-label="Example icon button with a home icon">
              <mat-icon>search</mat-icon> Pesquisar
            </button>

            <button
              *ngIf="selecionado=='Pedido'"
              class="validar"
              mat-raised-button
              [disabled]="(codigo=== null || codigo=== undefined ||
              codigo=== '') && (pedido === null || pedido ===
              undefined || pedido === '') && (cpf === null || cpf ===
              undefined || cpf === '')"
              (click)="pesquisarPedido(pedido)"
              color="accent"
              aria-label="Example icon button with a home icon">
              <mat-icon>search</mat-icon> Pesquisar
            </button>

            <button
              *ngIf="selecionado=='CPF'"
              class="validar"
              mat-raised-button
              [disabled]="(codigo=== null || codigo=== undefined ||
              codigo=== '') && (pedido === null || pedido ===
              undefined || pedido === '') && (cpf === null || cpf ===
              undefined || cpf === '')"
              (click)="pesquisarCpf(cpf)"
              color="accent"
              aria-label="Example icon button with a home icon">
              <mat-icon>search</mat-icon> Pesquisar
            </button>
          
        </div>
      </div>
  
    </form>
  
    <div *ngIf="!clickedRows.size">
      <div class="card">
        <mat-card class="card-width">
          <mat-card-content>
            <p class="title-card">Consultora / Consumidor</p>
            <p>Clique eu uma linha da tabela para exibir.</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="card-width">
          <mat-card-content>
            <p class="title-card">Nº Da Ocorrência</p>
            <p>Clique eu uma linha da tabela para exibir.</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="card-width">
          <mat-card-content>
            <p class="title-card">Título</p>
            <p>Clique eu uma linha da tabela para exibir.</p>
          </mat-card-content>
        </mat-card>  
        
      </div>
      <div class="card">

        <mat-card class="card-width">
          <mat-card-content>
            <p class="title-card">Nº do Pedido</p>
            <p>Clique eu uma linha da tabela para exibir.</p>
          </mat-card-content>
        </mat-card>           
  
        <mat-card class="card-width">
          <mat-card-content>
            <p class="title-card">Data de Criação</p>
            <p>Clique eu uma linha da tabela para exibir.</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="card-width">
            <mat-card-content>
              <p class="title-card">Status</p>
              <p>Clique eu uma linha da tabela para exibir.</p>
            </mat-card-content>
          </mat-card>

          <mat-card class="card-width">
            <mat-card-content>
              <p class="title-card">Origem</p>
              <p>Clique eu uma linha da tabela para exibir.</p>
            </mat-card-content>
          </mat-card>

          <mat-card class="card-width">
            <mat-card-content>
              <p class="title-card">Trabalhado Por</p>
              <p>Clique eu uma linha da tabela para exibir.</p>
            </mat-card-content>
        </mat-card>

      </div>
      <div class="card">
        <mat-card class="card-width">
          <mat-card-content>
            <p class="title-card">Primeira Categoria</p>
            <p>Clique eu uma linha da tabela para exibir.</p>
          </mat-card-content>
        </mat-card>
  
        <mat-card class="card-width">
          <mat-card-content>
            <p class="title-card">Segunda Categoria</p>
            <p>Clique eu uma linha da tabela para exibir.</p>
          </mat-card-content>
        </mat-card>
  
        <mat-card class="card-width">
          <mat-card-content>
            <p class="title-card">Motivo</p>
            <p>Clique eu uma linha da tabela para exibir.</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="card-width">
            <mat-card-content>
              <p class="title-card">Solução</p>
              <p>Clique eu uma linha da tabela para exibir.</p>
            </mat-card-content>
        </mat-card>

        <mat-card class="card-width">
            <mat-card-content>
              <p class="title-card">Solução Segundo Nível</p>
              <p>Clique eu uma linha da tabela para exibir.</p>
            </mat-card-content>
        </mat-card>
      </div>
    </div>
  
    <div *ngFor="let clickedRow of clickedRows">
      <div class="card">
        <mat-card class="card-width">
          <mat-card-content>
            <p class="title-card">Consultora / Consumidor</p>
            <p>{{clickedRow["_customerid_value@OData.Community.Display.V1.FormattedValue"]}}</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="card-width">
          <mat-card-content>
            <p class="title-card">Nº Da Ocorrência</p>
            <p>{{clickedRow.ticketnumber}}</p>
            <p *ngIf="clickedRow.ticketnumber==null">---</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="card-width">
          <mat-card-content>
            <p class="title-card">Título</p>
            <p>{{clickedRow.title}}</p>
            <p *ngIf="clickedRow.title==null">---</p>
          </mat-card-content>
        </mat-card>
  
      </div>
      <div class="card">
  
        <mat-card class="card-width">
          <mat-card-content>
            <p class="title-card">Nº Pedido</p>
            <p>{{clickedRow["_nat_naturaorder_value@OData.Community.Display.V1.FormattedValue"]}}</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="card-width">
            <mat-card-content>
              <p class="title-card">Data de Criação</p>
              <p>{{clickedRow["createdon@OData.Community.Display.V1.FormattedValue"]}}</p>
            </mat-card-content>
        </mat-card>
  
  
        <mat-card class="card-width">
          <mat-card-content>
            <p class="title-card">Status</p>
            <p>{{clickedRow["statuscode@OData.Community.Display.V1.FormattedValue"]}}</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="card-width">
            <mat-card-content>
              <p class="title-card">Origem</p>
              <p>{{clickedRow["caseorigincode@OData.Community.Display.V1.FormattedValue"]}}</p>
            </mat-card-content>
          </mat-card>

          <mat-card class="card-width">
            <mat-card-content>
              <p class="title-card">Trabalhado Por</p>
              <p>{{clickedRow["_ownerid_value@OData.Community.Display.V1.FormattedValue"]}}</p>
            </mat-card-content>
        </mat-card>
          
      </div>
      <div class="card">

        <mat-card class="card-width">
          <mat-card-content>
            <p class="title-card">Primeira Categoria</p>
            <p>{{clickedRow["_nat_primarycategory_value@OData.Community.Display.V1.FormattedValue"]}}</p>
          </mat-card-content>
        </mat-card>
  
        <mat-card class="card-width">
          <mat-card-content>
            <p class="title-card">Segunda Categoria</p>
            <p>{{clickedRow["_nat_secondcategory_value@OData.Community.Display.V1.FormattedValue"]}}</p>
          </mat-card-content>
        </mat-card>
  
        <mat-card class="card-width">
          <mat-card-content>
            <p class="title-card">Motivo</p>
            <p>{{clickedRow["_nat_reason_value@OData.Community.Display.V1.FormattedValue"]}}</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="card-width">
            <mat-card-content>
              <p class="title-card">Solução</p>
              <p>{{clickedRow["_nat_solution_value@OData.Community.Display.V1.FormattedValue"]}}</p>
            </mat-card-content>
        </mat-card>

        <mat-card class="card-width">
            <mat-card-content>
              <p class="title-card">Solução Segundo Nível</p>
              <p>{{clickedRow["_nat_solutionsecondlevel_value@OData.Community.Display.V1.FormattedValue"]}}</p>
            </mat-card-content>
        </mat-card>

        

 </div>
    </div>
  
    <p class="start">
  
      <div class="container">
        <div *ngIf="carregando===true"  class="carregando">
          <h5>Carregando...</h5>
          <mat-spinner color="accent"></mat-spinner>
        </div>
  
        <table mat-table *ngIf="pesquisa_efetuada===true&&carregando===false"
          [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
          <ng-container matColumnDef="ticketnumber">
            <th mat-header-cell *matHeaderCellDef> Nº Da Ocorrência </th>
            <td mat-cell *matCellDef="let element"> {{element.ticketnumber}}
            </td>
          </ng-container>
  
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Título </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
          </ng-container>
  
          <ng-container matColumnDef="_customerid_valueODataCommunityDisplayV1FormattedValue">
            <th mat-header-cell *matHeaderCellDef> Consultora </th>
            <td mat-cell *matCellDef="let element"> {{element["_customerid_value@OData.Community.Display.V1.FormattedValue"]}} </td>
          </ng-container>
  
          <ng-container matColumnDef="_nat_naturaorder_valueODataCommunityDisplayV1FormattedValue">
            <th mat-header-cell *matHeaderCellDef> Nº Pedido </th>
            <td mat-cell *matCellDef="let element"> {{element["_nat_naturaorder_value@OData.Community.Display.V1.FormattedValue"]}} </td>
          </ng-container>
  
          <ng-container matColumnDef="createdonODataCommunityDisplayV1FormattedValue">
            <th mat-header-cell *matHeaderCellDef> Data de Criação </th>
            <td mat-cell *matCellDef="let element"> {{element["createdon@OData.Community.Display.V1.FormattedValue"]}} </td>
          </ng-container>
  
          <ng-container matColumnDef="statuscodeODataCommunityDisplayV1FormattedValue">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element["statuscode@OData.Community.Display.V1.FormattedValue"]}} </td>
          </ng-container>
  
          <ng-container matColumnDef="caseorigincodeODataCommunityDisplayV1FormattedValue">
            <th mat-header-cell *matHeaderCellDef> Origem </th>
            <td mat-cell *matCellDef="let element"> {{element["caseorigincode@OData.Community.Display.V1.FormattedValue"]}} </td>
          </ng-container>
  
          <ng-container matColumnDef="_nat_primarycategory_valueODataCommunityDisplayV1FormattedValue">
            <th mat-header-cell *matHeaderCellDef> Primeira Categoria </th>
            <td mat-cell *matCellDef="let element"> {{element["_nat_primarycategory_value@OData.Community.Display.V1.FormattedValue"]}} </td>
          </ng-container>
  
          <ng-container matColumnDef="_nat_secondcategory_valueODataCommunityDisplayV1FormattedValue">
            <th mat-header-cell *matHeaderCellDef> Segunda Categoria </th>
            <td mat-cell *matCellDef="let element"> {{element["_nat_secondcategory_value@OData.Community.Display.V1.FormattedValue"]}} </td>
          </ng-container>
  
          <ng-container matColumnDef="_nat_reason_valueODataCommunityDisplayV1FormattedValue">
            <th mat-header-cell *matHeaderCellDef> Motivo </th>
            <td mat-cell *matCellDef="let element"> {{element["_nat_reason_value@OData.Community.Display.V1.FormattedValue"]}} </td>
          </ng-container>
  
          <ng-container matColumnDef="_nat_solution_valueODataCommunityDisplayV1FormattedValue">
            <th mat-header-cell *matHeaderCellDef> Solução </th>
            <td mat-cell *matCellDef="let element"> {{element["_nat_solution_value@OData.Community.Display.V1.FormattedValue"]}} </td>
          </ng-container>
  
          <ng-container matColumnDef="_nat_solutionsecondlevel_valueODataCommunityDisplayV1FormattedValue">
            <th mat-header-cell *matHeaderCellDef> Solução Segundo Nível </th>
            <td mat-cell *matCellDef="let element"> {{element["_nat_solutionsecondlevel_value@OData.Community.Display.V1.FormattedValue"]}} </td>
          </ng-container>
  
          <ng-container matColumnDef="_ownerid_valueODataCommunityDisplayV1FormattedValue">
            <th mat-header-cell *matHeaderCellDef> Trabalhado Por </th>
            <td mat-cell *matCellDef="let element"> {{element["_ownerid_value@OData.Community.Display.V1.FormattedValue"]}} </td>
          </ng-container>
  
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Descrição </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>
  
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            (click)="clickedRows.clear()"
            (click)="clickedRows.add(row)"
            [class.demo-row-is-clicked]="clickedRows.has(row)"
            *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  