<div class="ajustar">
  <div class="titulo">
    <mat-icon mat-card-avatar>location_on</mat-icon>
    <h2>Manifestação Correta</h2>
  </div>
  <mat-form-field appearance="fill" color="accent">
    <mat-label>Filtrar Opções</mat-label>
    <input
    matInput
    type="text"
    placeholder="Digite os dados a filtrar..."
    [(ngModel)]="filtroManifestacaoCorreta"
    style="width: 100%; margin-bottom: 10px;" />
  </mat-form-field>
  <div *ngFor="let manifestacao_correta of manifestacaoCorretaFiltrada;index as i">
    <mat-card (click)="onToggleManifestacaoCorreta(i)" [class.selected]="selectedManifestacaoCorretaIndex === i" style="cursor:pointer;">
      <mat-card-content>
        {{manifestacao_correta.manifestacao_correta}}
      </mat-card-content>
      <mat-card-actions>
        <mat-slide-toggle
          [checked]="selectedManifestacaoCorretaIndex === i"
          (change)="onToggleManifestacaoCorreta(i)">
          Selecionar
        </mat-slide-toggle>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

