<div class="main">
  <div class="title">
      <div>
          <div id="logoavon"></div>
      </div>
      <h1>Pesquisa - {{title}}</h1>
      <div class="menu">
          <h4><mat-icon class="color" matSuffix>account_circle</mat-icon>
              {{user}}
          </h4>
          <button
              routerLink="/natura"
              class="logout"
              color="accent"
              mat-button><mat-icon>arrow_back</mat-icon>Voltar</button>
      </div>
  </div>

  <p class="space"> </p>

  <form [formGroup]="formularioSimuladorManifestacoes" class="example-form">

    <p class="start">

      <!-- categoria -->
      <mat-form-field appearance="fill" class="example-full-width"  color="warn">
        <mat-label>Categoria</mat-label>
        <mat-select
            disableRipple
            ngDefaultControl
            formControlName="categoria"
            (valueChange)="onSelect($event)">
          <mat-option *ngFor="let categoria of categoriaDropDown;index as i" [value]="categoria.id">
            {{categoria.categoria}}</mat-option>
        </mat-select>
        <mat-icon matPrefix>assignment</mat-icon>
        <mat-hint>Selecione uma opção</mat-hint>
      </mat-form-field>

    </p>

    <p>
      <!-- Local Defeito -->
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon matPrefix>location_on</mat-icon>
          </div>
          <mat-card-title>Local do Defeito</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{local_defeito}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
              [disabled]="id_categoria === undefined || id_categoria === null"
              mat-fab
              color="primary"
              (click)="pesquisarLocalDefeito()"
              [matTooltip]="'Pesquisar Local Defeito'">
            <mat-icon>search</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </p>

    <p>
      <!-- Tipo Defeito -->
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon matPrefix>warning</mat-icon>
          </div>
          <mat-card-title>Desvio (Tipo de Defeito)</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{tipo_defeito}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
              [disabled]="id_local_defeito === undefined || id_local_defeito === null"
              mat-fab
              color="primary"
              (click)="pesquisarTipoDefeito()"
              [matTooltip]="'Pesquisar Tipo Defeito'">
            <mat-icon>search</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </p>

    <p>
      <!-- Manifestação Correta -->
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon matPrefix>done_all</mat-icon>
          </div>
          <mat-card-title>Manifestação Correta</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{manifestacao_correta}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
              [disabled]="id_tipo_defeito === undefined || id_tipo_defeito === null"
              mat-fab
              color="primary"
              (click)="pesquisarManifestacaoCorreta()"
              [matTooltip]="'Pesquisar Manifestação Correta'">
            <mat-icon>search</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </p>

    <p>
      <!-- Descrição -->
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon matPrefix>description</mat-icon>
          </div>
          <mat-card-title>Descrição</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{descricao}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
              [disabled]="id_tipo_defeito === undefined || id_tipo_defeito === null"
              mat-fab
              color="primary"
              (click)="pesquisarDescricao()"
              [matTooltip]="'Pesquisar Descrição'">
            <mat-icon>search</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </p>

    <p>
      <!-- Sondagem Direcionadora -->
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon matPrefix>location_searching</mat-icon>
          </div>
          <mat-card-title>Sondagem Direcionadora</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{sondagem}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
              [disabled]="id_tipo_defeito === undefined || id_tipo_defeito === null"
              mat-fab
              color="primary"
              (click)="pesquisarSondagem()"
              [matTooltip]="'Pesquisar Sondagem Direcionadora'">
            <mat-icon>search</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </p>

    <div class="button-group">
      <button
          mat-fab
          (click)="limpar()"
          [matTooltip]="'Limpar Campos'"
          color="warn"
          >
          <mat-icon>delete</mat-icon>

      </button>
    </div>
  </form>

</div>
