<div class="main">
  <div class="title">
      <div>
          <div id="logoavon"></div>
      </div>
      <h1>Pesquisa - {{title}}</h1>
      <div class="menu">
          <h4><mat-icon class="color" matSuffix>account_circle</mat-icon>
              {{user}}
          </h4>
          <button
              routerLink="/natura"
              class="logout"
              color="accent"
              mat-button><mat-icon>arrow_back</mat-icon>Voltar</button>
      </div>
  </div>

  <p class="space"> </p>

  <form [formGroup]="formularioSimuladorManifestacoes" class="example-form">

    <p class="start">

      <mat-form-field appearance="fill" class="example-full-width"  color="warn">
        <mat-label>Categoria</mat-label>
        <mat-select
            disableRipple
            ngDefaultControl
            formControlName="categoria"
            (valueChange)="onSelect($event)">
          <mat-option *ngFor="let categoria of categoriaDropDown;index as i" [value]="categoria.id">
            {{categoria.categoria}}</mat-option>
        </mat-select>
        <mat-icon matPrefix>assignment</mat-icon>
        <mat-hint>Selecione uma opção</mat-hint>
      </mat-form-field>

    </p>

<p>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon matPrefix>location_on</mat-icon>
      </div>
      <mat-card-title>Local do Defeito</mat-card-title>
    </mat-card-header>
  </mat-card>
</p>
    <p class="start"  *ngFor="let local_defeito of localDefeitoDropDown;index as i">
      <mat-card (click)="onToggleLocalDefeito(i)" [class.selected]="selectedLocalDefeitoIndex === i" style="cursor:pointer;">
        <!-- <mat-card-header>
          <mat-card-title>Dados do Cliente</mat-card-title>
          <mat-card-subtitle>Preencha os dados abaixo</mat-card-subtitle>
        </mat-card-header> -->
        <mat-card-content>
          {{local_defeito.local_defeito}}
        </mat-card-content>
        <mat-card-actions>
          <mat-slide-toggle
        [checked]="selectedLocalDefeitoIndex === i"
        (change)="onToggleLocalDefeito(i)">
        Selecionar
      </mat-slide-toggle>
          </mat-card-actions>
      </mat-card>
    </p>

  </form>

</div>
