<body>
    <div class="main">
        <header class="title">
            <div id="logoavon"></div>
            <h1>Painel Avon - Home</h1>
            <div class="menu">
                <h4><mat-icon class="color" matSuffix>account_circle</mat-icon> {{user}} </h4>
                <button routerLink="/home" class="logout" color="accent" mat-button><mat-icon>arrow_back</mat-icon>Voltar</button>
            </div>
        </header>
        <p class="space"> </p>
        <div class="home">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="una-avatar"></div>
                    <mat-card-title>Projeto Wave</mat-card-title>
                    <mat-card-subtitle>Pesquisar as consultoras Natura e representantes Avon</mat-card-subtitle>
                </mat-card-header>
                <div
                    mat-card-image
                    class="imgHome imgWave"
                    routerLink="/avon/projeto-wave"></div>
                <mat-card-content class="social">
                    <span
                        (click)="openProjetoWaveDialog()"
                        #tooltip="matTooltip"
                        matTooltip="Visualizar os procedimentos">
                        <fa-icon [icon]="faCircleInfo"></fa-icon>
                    </span>
                </mat-card-content>
            </mat-card>

            <mat-card  class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="pagamento-avatar"></div>
                    <mat-card-title>Rejeição de Pagamento</mat-card-title>
                    <mat-card-subtitle>Pesquisar representantes que tiveram pagamento rejeitado</mat-card-subtitle>
                </mat-card-header>
                <div
                    mat-card-image
                    class="imgHome imgPagamento"
                    routerLink="/avon/rejeicao-pagamento">
                </div>
                <mat-card-content class="social">
                    <span
                        
                        #tooltip="matTooltip"
                        matTooltip="Visualizar os procedimentos">
                        <fa-icon [icon]="faCircleInfo"></fa-icon>
                    </span>
                </mat-card-content>
            </mat-card>
    
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="tag-avatar"></div>
                    <mat-card-title>TAG 2H</mat-card-title>
                    <mat-card-subtitle>Pesquisar consultoras nas bases de Vale Pontos</mat-card-subtitle>
                </mat-card-header>
                <div
                    mat-card-image
                    class="imgHome imgNordeste"
                    routerLink="/avon/tag2h">
                </div>
                <mat-card-content class="social">
                    <span
                        
                        #tooltip="matTooltip"
                        matTooltip="Visualizar os procedimentos">
                        <fa-icon [icon]="faCircleInfo"></fa-icon>
                    </span>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    
</body>