<div class="main">
  <div class="title">
      <div>
          <div id="logoavon"></div>
      </div>
      <h1>Pesquisa - {{title}}</h1>
      <div class="menu">
          <h4><mat-icon class="color" matSuffix>account_circle</mat-icon>
              {{user}}
          </h4>
          <button
              routerLink="/natura"
              class="logout"
              color="primary"
              mat-button><mat-icon>arrow_back</mat-icon>Voltar</button>
      </div>
  </div>

  <p class="space"> </p>

  <form [formGroup]="formularioPilotoSegurancaAtualizacaoDados" class="example-form">
      <div class="pesquisar">
          <div class="search">
              <mat-form-field
                appearance="fill"
                class="mopMatricula"
                color="primary">

                <mat-label>Selecione o Item de Pesquisa</mat-label>
                <mat-select disableRipple ngDefaultControl
                formControlName="selecionado" [ngModel]="selecionado"
                (valueChange)="onSelectId($event)">
                <mat-option *ngFor="let id of identificadores" [value]="id">
                  {{id}}</mat-option>
                </mat-select>
                <mat-icon matPrefix>search</mat-icon>
                <mat-hint>Selecione uma opção</mat-hint>

              </mat-form-field>

              <mat-form-field *ngIf="selecionado==='Código da Consultora'"
              class="codigoCn" appearance="fill" color="primary">
                  <mat-label>Código da Consultora</mat-label>
                  <input
                      matInput
                      placeholder="Digite o Código da Consultora"
                      ngDefaultControl
                      formControlName="cod_pessoa"
                      [(ngModel)]="cod_pessoa">
                  <mat-icon matSuffix>account_circle</mat-icon>
                  <mat-hint>Código da Consultora</mat-hint>
                </mat-form-field>


              <mat-form-field *ngIf="selecionado==='Código do Setor'"
              class="codigoCn" appearance="fill" color="primary">
                  <mat-label>Código do Setor</mat-label>
                  <input
                      matInput
                      placeholder="Digite o Código do Setor"
                      ngDefaultControl
                      formControlName="cod_setor"
                      [(ngModel)]="cod_setor">
                  <mat-icon matSuffix>account_circle</mat-icon>
                  <mat-hint>Código do Setor</mat-hint>
                </mat-form-field>
          </div>

          <div class="botoes">

              <button
                  class="validar"
                  mat-raised-button
                  [disabled]="(cod_pessoa === null || cod_pessoa ===
                  undefined ||
                  cod_pessoa === '')
                  &&
                  (cod_setor === null || cod_setor ===
                  undefined ||
                  cod_setor === '')"
                  (click)="limpar()"
                  color="warn"
                  aria-label="Example icon button with a home icon">
                  <mat-icon>clear</mat-icon> Limpar
              </button>

              <button
                  *ngIf="selecionado==='Código da Consultora'"
                  class="validar"
                  mat-raised-button
                  [disabled]="cod_pessoa=== null || cod_pessoa==
                  undefined ||
                  cod_pessoa=== ''"
                  (click)="pesquisarCodigoPessoa()"
                  color="primary"
                  aria-label="Example icon button with a home icon">
                  <mat-icon>search</mat-icon> Pesquisar
              </button>

              <button
                  *ngIf="selecionado==='Código do Setor'"
                  class="validar"
                  mat-raised-button
                  [disabled]="cod_setor=== null || cod_setor==
                  undefined ||
                  cod_setor=== ''"
                  (click)="pesquisarCodigoSetor()"
                  color="primary"
                  aria-label="Example icon button with a home icon">
                  <mat-icon>search</mat-icon> Pesquisar
              </button>

          </div>
      </div>

  </form>

  <div *ngIf="!clickedRows.size">
      <div class="card">
          <mat-card class="card-width">
            <mat-card-content>
              <p class="title-card">Código da Consultora</p>
              <p>Clique eu uma linha da tabela para exibir.</p>
            </mat-card-content>
          </mat-card>

          <mat-card class="card-width">
            <mat-card-content>
              <p class="title-card">Código Tipo Papel</p>
              <p>Clique eu uma linha da tabela para exibir.</p>
            </mat-card-content>
          </mat-card>

          <mat-card class="card-width">
            <mat-card-content>
              <p class="title-card">Tipo Papel</p>
              <p>Clique eu uma linha da tabela para exibir.</p>
            </mat-card-content>
          </mat-card>

          <mat-card class="card-width">
            <mat-card-content>
              <p class="title-card">Nº Documento Pessoa</p>
              <p>Clique eu uma linha da tabela para exibir.</p>
            </mat-card-content>
          </mat-card>

      </div>


      <div class="card">

        <mat-card class="card-width">
          <mat-card-content>
            <p class="title-card">Código Gerência de Venda</p>
            <p>Clique eu uma linha da tabela para exibir.</p>
          </mat-card-content>
        </mat-card>

          <mat-card class="card-width">
              <mat-card-content>
                  <p class="title-card">Descrição Gerência de Venda</p>
                  <p>Clique eu uma linha da tabela para exibir.</p>
              </mat-card-content>
          </mat-card>

          <mat-card class="card-width">
              <mat-card-content>
                  <p class="title-card">Código do Setor</p>
                  <p>Clique eu uma linha da tabela para exibir.</p>
              </mat-card-content>
          </mat-card>

          <mat-card class="card-width">
              <mat-card-content>
                  <p class="title-card">Descrição do Setor</p>
                  <p>Clique eu uma linha da tabela para exibir.</p>
              </mat-card-content>
          </mat-card>

          <mat-card class="card-width">
              <mat-card-content>
                  <p class="title-card">Código do Grupo</p>
                  <p>Clique eu uma linha da tabela para exibir.</p>
              </mat-card-content>
          </mat-card>
      </div>

  </div>

  <div *ngFor="let clickedRow of clickedRows">
      <div class="card">
          <mat-card class="card-width">
            <mat-card-content>
              <p class="title-card">Código da Consultora</p>
              <p>{{clickedRow.cod_pessoa}}</p>
              <p *ngIf="clickedRow.cod_pessoa===null">---</p>
            </mat-card-content>
          </mat-card>

          <mat-card class="card-width">
            <mat-card-content>
              <p class="title-card">Código Tipo Papel</p>
              <p>{{clickedRow.cod_tipo_papel}}</p>
              <p *ngIf="clickedRow.cod_tipo_papel===null">---</p>
            </mat-card-content>
          </mat-card>

          <mat-card class="card-width">
            <mat-card-content>
              <p class="title-card">Tipo Papel</p>
              <p>{{clickedRow.tipo_papel}}</p>
              <p *ngIf="clickedRow.tipo_papel===null">---</p>
            </mat-card-content>
          </mat-card>

          <mat-card class="card-width">
            <mat-card-content>
              <p class="title-card">Nº Documento Pessoa</p>
              <p>{{clickedRow.nm_doc_pessoa}}</p>
              <p *ngIf="clickedRow.nm_doc_pessoa===null">---</p>
            </mat-card-content>
          </mat-card>

      </div>


      <div class="card">
          <mat-card class="card-width">
              <mat-card-content>
                  <p class="title-card">Código Gerência de Venda</p>
                  <p>{{clickedRow.cod_gerencia_venda}}</p>
                  <p *ngIf="clickedRow.cod_gerencia_venda===null">---</p>
              </mat-card-content>
          </mat-card>

          <mat-card class="card-width">
              <mat-card-content>
                  <p class="title-card">Descrição Gerência de Venda</p>
                  <p>{{clickedRow.dc_gerencia_venda}}</p>
                  <p *ngIf="clickedRow.dc_gerencia_venda===null">---</p>
              </mat-card-content>
          </mat-card>

          <mat-card class="card-width">
              <mat-card-content>
                  <p class="title-card">Código do Setor</p>
                  <p>{{clickedRow.cod_setor}}</p>
                  <p *ngIf="clickedRow.cod_setor===null">---</p>
              </mat-card-content>
          </mat-card>

          <mat-card class="card-width">
              <mat-card-content>
                  <p class="title-card">Descrição do Setor</p>
                  <p>{{clickedRow.dc_setor}}</p>
                  <p *ngIf="clickedRow.dc_setor===null">---</p>
              </mat-card-content>
          </mat-card>

          <mat-card class="card-width">
              <mat-card-content>
                  <p class="title-card">Código do Grupo</p>
                  <p>{{clickedRow.cod_grupo}}</p>
                  <p *ngIf="clickedRow.cod_grupo===null">---</p>
              </mat-card-content>
          </mat-card>

      </div>

  </div>

  <div class="container">
      <div class="tabela">

        <div class="spinner" *ngIf="carregando===true">
          <mat-spinner
              [diameter]="40"
              color="primary"
              *ngIf="carregando===true"></mat-spinner>
          <h3>Carregando...</h3>
      </div>
      <div *ngIf="pesquisa_efetuada===true">
        <table mat-table
          [dataSource]="tableDataSource" class="mat-elevation-z8 demo-table" matPaginator #paginator>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}}</td>
          </ng-container>

          <ng-container matColumnDef="cod_pessoa">
            <th mat-header-cell *matHeaderCellDef> Código da Consultora </th>
            <td mat-cell *matCellDef="let element"> {{element.cod_pessoa}}</td>
          </ng-container>

          <ng-container matColumnDef="cod_tipo_papel">
            <th mat-header-cell *matHeaderCellDef> Código Tipo Papel </th>
            <td mat-cell *matCellDef="let element"> {{element.cod_tipo_papel}}</td>
          </ng-container>

          <ng-container matColumnDef="tipo_papel">
              <th mat-header-cell *matHeaderCellDef> Tipo Papel </th>
              <td mat-cell *matCellDef="let element"> {{element.tipo_papel}}</td>
          </ng-container>

          <ng-container matColumnDef="nm_doc_pessoa">
            <th mat-header-cell *matHeaderCellDef> Nº Documento Pessoa </th>
            <td mat-cell *matCellDef="let element"> {{element.nm_doc_pessoa}}</td>
          </ng-container>

          <ng-container matColumnDef="cod_gerencia_venda">
              <th mat-header-cell *matHeaderCellDef> Código Gerência de Venda </th>
              <td mat-cell *matCellDef="let element"> {{element.cod_gerencia_venda}}</td>
          </ng-container>

          <ng-container matColumnDef="dc_gerencia_venda">
              <th mat-header-cell *matHeaderCellDef> Descrição Gerência de Venda </th>
              <td mat-cell *matCellDef="let element"> {{element.dc_gerencia_venda}}</td>
          </ng-container>

          <ng-container matColumnDef="cod_setor">
              <th mat-header-cell *matHeaderCellDef> Código do Setor </th>
              <td mat-cell *matCellDef="let element"> {{element.cod_setor}}</td>
          </ng-container>

          <ng-container matColumnDef="dc_setor">
              <th mat-header-cell *matHeaderCellDef> Descrição Setor </th>
              <td mat-cell *matCellDef="let element"> {{element.dc_setor}}</td>
          </ng-container>

          <ng-container matColumnDef="cod_grupo">
              <th mat-header-cell *matHeaderCellDef> Código do Grupo </th>
              <td mat-cell *matCellDef="let element"> {{element.cod_grupo}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr
              mat-row
              (click)="clickedRows.clear()"
              (click)="clickedRows.add(row)"
              [class.demo-row-is-clicked]="clickedRows.has(row)"
              *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
        <mat-paginator
            [pageSizeOptions]="[10, 15, 20]"
            showFirstLastButtons
            aria-label="Select page of periodic elements"
            color="primary">
        </mat-paginator>
      </div>
      </div>

  </div>

  </div>
