<div class="main">
  <div class="container">
    <h1>Autenticação</h1>
    <div>
      <mat-form-field>
        <mat-label>Digite a Senha</mat-label>
        <input
            matInput
            placeholder="Senha"
            [(ngModel)]="senha"
            type="password">
            <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <button
          mat-raised-button
          color="primary"
          (click)="autenticar(senha)"
          >Autenticar</button>
    </div>
  </div>
</div>
