body {
  background-color: #F4F4F3;

}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F4F4F3;
}

.lastRow {
margin-bottom: 2em;
}

.title {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #D1020A;
max-width: 90vw;
width: 100%;

}

#logonatura {
width: 12em;
height: 3.1em;
background-size: cover;
display: flex;
background-image: url('../../assets/img/consultoria.png');
}

h1 {
color: #fff;
}

h4 {

color: #fff;
display: flex;
padding: 0.5em;
margin-left: 0.2em;
}

.space {
margin: 1em;

}

.example-card {
  max-width: 24em;
  margin: 2em;
  transition: transform .5s;
}

.example-card:hover {
transform: scale(1.2);
}

.example-header-image {
background-size: cover;
}

.home {
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: row;
max-width: 90vw;
width: 100%;
}

.codigo-venda-avatar {
background-image: url('../../assets/img/codigo-venda-avatar.png');
background-size: cover;
width: 4em;
height: 4em;
border-radius: 50%;
}

.menu {
vertical-align: middle;
color: #fff;
}

.logout {
color: #fff;
}

.imgHome {
width: 25em;
height: 14em;
zoom: inherit;
}

.imgCodigoVenda {
background-image: url('../../assets/img/codigo-produtos.png');
background-size: cover;

}


.imgHome:hover {
cursor: pointer;
}

fa-icon:hover{
cursor: pointer;
}

.social {
color: #D1020A;
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: row;

}

.card-header {
background-color: #D1020A;
color: #fff;
}

.accordion {
max-width: 90vw;
width: 100%;
}




.example-headers-align .mat-expansion-panel-header-description {
display: flex;
justify-content: space-between;
align-items: center;

}



