body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/img/avon-natura.png');
    background-size: cover;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    width: 100vw;
}

form {
    padding: 3em;
    margin-right: auto;
    margin-left: 60vw;
    width: 30em;

}

.suporteCard {
    border-radius: 2em;
    width: 25em;
}

button {
    width: 16em;
    margin-left: 4em;
    margin-right: 4em;
}

input {
    width: 23em;
    font-size: 1.2em;
}

#logonatura {
    width: 15em;
    height: 2.1em;
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../../assets/img/naturaeco.png');
    margin-top: 2em;
    margin-bottom: 2em;
}


  .space {
    margin: 1em;
  }

  .suporteInput {
    display: flex;
    align-items: center;
    justify-content: center;
  }


   