<h2 mat-dialog-title>Checkout - Pagamento no Capta</h2>
<mat-dialog-content class="mat-typography">
  <p>Identificamos uma falha em alguns pedidos realizados no CAPTA que gera divergência de valores e os mesmos não aparecem no sistema. Os casos contemplam pedidos pagos via <span class="item">cartão de crédito</span>, <span class="item">pix</span> ou <span class="item">boleto à vista.</span></p>
  <p>Para que a Consultora não seja ainda mais impactada, foi definido o cancelamento do pedido imediato sempre que a diferença ultrapassar R$ 5,00 para mais ou menos. </p>
  <p>Aqui, você encontra a lista de pedidos que foram impactados com este erro. </p>

  <br>

  <h3>Dúvidas?</h3>
  <p><a href="https://natura.beedoo.io/wiki/274998/Diverg-ncia-de-valores--pedidos-n-o-aparecem-no-CAPTA-" target="_blank"><b>Clique aqui</b></a> e confira as orientações completas sobre o tema.</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close><mat-icon>clear</mat-icon>Fechar</button>
</mat-dialog-actions>