<div class="main">
    <div class="title">
        <div>
          <div id="logoavon"></div>
        </div>
        <h1>Pesquisa - {{title}}</h1>
        <div class="menu">
          <h4><mat-icon class="color" matSuffix>account_circle</mat-icon> {{user}}
          </h4>
          <button
            routerLink="/home"
            class="logout"
            color="accent"
            mat-button><mat-icon>arrow_back</mat-icon>Voltar</button>
        </div>
      </div>

      <p class="space"> </p>

      <div class="simulador">
        <div class="left-panel">
            <mat-card class="example-card">
                <form [formGroup]="formularioSimuladorCobranca" class="example-form">
                    <p class="start">
                        <mat-form-field class="mopMatricula" appearance="fill" color="accent">
                          <mat-label>Código CN</mat-label>
                          <input
                          matInput
                          ngDefaultControl
                          placeholder="Digite o Código da CN"
                          formControlName="cod_cn_form"
                          [(ngModel)]="cod_cn_form"
                          >
                          <mat-icon matSuffix>check_circle</mat-icon>
                          <mat-hint>Código CN</mat-hint>
                        </mat-form-field>
            
                        <mat-form-field class="mopMatricula" appearance="fill" color="accent">
                          <mat-label>Título</mat-label>
                          <input
                          matInput
                          ngDefaultControl
                          placeholder="Digite o Número do Título"
                          formControlName="titulo_form"
                          [(ngModel)]="titulo_form"
                          >
                          <mat-icon matSuffix>comment</mat-icon>
                          <mat-hint>Título</mat-hint>
                        </mat-form-field>
            
                        <mat-form-field class="mopMatricula" appearance="fill" color="accent">
                          <mat-label>Item</mat-label>
                          <input
                          matInput
                          ngDefaultControl
                          placeholder="Digite o Nº do Item"
                          formControlName="item_form"
                          [(ngModel)]="item_form"
                          >
                          <mat-icon matSuffix>fingerprint</mat-icon>
                          <mat-hint>Usuario ID</mat-hint>
                        </mat-form-field>
                        
                      </p>
    
                      <p class="start">
                        <mat-form-field class="mopMatricula" appearance="fill" color="accent">
                          <mat-label>Valor</mat-label>
                          <input
                          matInput
                          ngDefaultControl
                          formControlName="valor_form"
                          [(ngModel)]="valor_form"
                          currencyMask
                          [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                          >
                          <mat-icon matSuffix>attach_money</mat-icon>
                          <mat-hint>Canal</mat-hint>
                        </mat-form-field>
            
                        <mat-form-field class="mopMatricula" appearance="fill" color="accent">
                          <mat-label>Data </mat-label>
                          <input
                          matInput
                          [readonly]="true"
                          [matDatepicker]="picker"
                          ngDefaultControl
                          formControlName="data_vencimento_form"
                          [(ngModel)]="data_vencimento_form"
                          >
                          <mat-hint>Data de Vencimento</mat-hint>
                          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
            
                        <mat-form-field class="mopMatricula" appearance="fill" color="accent">
                          <mat-label>Atraso</mat-label>
                          <input
                          matInput
                          ngDefaultControl
                          formControlName="atraso_form"
                          [(ngModel)]="atraso_form"
                          >
                          <mat-icon matSuffix>fingerprint</mat-icon>
                          <mat-hint>Dias de Atraso</mat-hint>
                        </mat-form-field>
                        
                      </p>

                      
    
                </form>
            </mat-card>
            <table>

            </table>

        </div>
        <div class="right-panel"></div>

      </div>






</div>

