<div class="main">
    <div class="title">
        <div>
          <div id="logoavon"></div>
        </div>
        <h1>Pesquisa - {{title}}</h1>
        <div class="menu">
          <h4><mat-icon class="color" matSuffix>account_circle</mat-icon> {{user}}
          </h4>
          <button
            routerLink="/home"
            class="logout"
            color="accent"
            mat-button><mat-icon>arrow_back</mat-icon>Voltar</button>
        </div>
      </div>

      <p class="space"> </p>

      <div class="simulador">
        <div class="left-panel">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title class="titulo-form">Dados Gerais</mat-card-title>
            </mat-card-header>
            <form [formGroup]="formularioDadosIniciais" class="example-form">
              <p class="start">
                <mat-form-field class="insert-row" appearance="fill" color="accent">
                  <mat-label>Código CN</mat-label>
                  <input
                  matInput
                  ngDefaultControl
                  placeholder="Digite o Código da CN"
                  formControlName="cod_cn_form"
                  [(ngModel)]="cod_cn_form"
                  >
                  <mat-icon matSuffix>check_circle</mat-icon>
                  <mat-hint>Código CN</mat-hint>
                </mat-form-field>
  
                <mat-form-field class="insert-row" appearance="fill" color="accent">
                <mat-label>Data Pagamento</mat-label>
                    <input
                    matInput
                    [matDatepickerFilter]="myFilter"
                    [readonly]="true"
                    [matDatepicker]="pagamento"
                    ngDefaultControl
                    formControlName="data_pagamento"
                    [(ngModel)]="data_pagamento"
                    (dateChange)="calcularAtraso()"
                    >
                    <mat-hint>Selecione a Data</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="pagamento"></mat-datepicker-toggle>
                    <mat-datepicker #pagamento></mat-datepicker>
                  </mat-form-field>
                  
                  <mat-form-field appearance="fill" class="insert-row"  color="accent">
                    <mat-label>Tipo Negociação</mat-label>
                    <mat-select
                      disableRipple
                      ngDefaultControl
                      formControlName="condicao_pagamento"
                      [(ngModel)]="condicao_pagamento"
                      >
                      <mat-option [value]="'A Vista'">A Vista</mat-option>
                      <mat-option [value]="'Parcelado'">Parcelado</mat-option>
                    </mat-select>
                    <mat-icon matPrefix>credit_card</mat-icon>
                    <mat-hint>Selecione uma opção</mat-hint>
                  </mat-form-field>

                  <mat-form-field appearance="fill" class="insert-row"  color="accent" >
                    <mat-label>Parcelas</mat-label>
                    <mat-select
                      disableRipple
                      [disabled]="condicao_pagamento!=='Parcelado'"
                      ngDefaultControl
                      formControlName="parcelas"
                      [(ngModel)]="parcelas">
                      <mat-option [value]="1">1</mat-option>
                      <mat-option [value]="2">2</mat-option>
                      <mat-option [value]="3">3</mat-option>
                      <mat-option [value]="4">4</mat-option>
                      <mat-option [value]="5">5</mat-option>
                    </mat-select>
                    <mat-icon matPrefix>credit_card</mat-icon>
                    <mat-hint>Selecione uma opção</mat-hint>
                  </mat-form-field>
              </p>
            </form>

          </mat-card>
            
          <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title class="titulo-form">Insira os títulos para a simulação</mat-card-title>
              </mat-card-header>
                <form [formGroup]="formularioSimuladorCobranca" class="example-form">
                    <p class="start">
                        
                        <mat-form-field class="mopMatricula" appearance="fill" color="accent">
                          <mat-label>Título</mat-label>
                          <input
                          matInput
                          ngDefaultControl
                          placeholder="Digite o Número do Título"
                          formControlName="titulo_form"
                          [(ngModel)]="titulo_form"
                          >
                          <mat-icon matSuffix>comment</mat-icon>
                          <mat-hint>Título</mat-hint>
                        </mat-form-field>
            
                        <mat-form-field class="mopMatricula" appearance="fill" color="accent">
                          <mat-label>Item</mat-label>
                          <input
                          matInput
                          ngDefaultControl
                          placeholder="Digite o Nº do Item"
                          formControlName="item_form"
                          [(ngModel)]="item_form"
                          >
                          <mat-icon matSuffix>fingerprint</mat-icon>
                          <mat-hint>Nº do Item</mat-hint>
                        </mat-form-field>

                        <mat-form-field class="mopMatricula" appearance="fill" color="accent">
                          <mat-label>Valor</mat-label>
                          <input
                          matInput
                          ngDefaultControl
                          formControlName="valor_form"
                          [(ngModel)]="valor_form"
                          currencyMask
                          [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                          >
                          <mat-icon matSuffix>attach_money</mat-icon>
                          <mat-hint>Valor</mat-hint>
                        </mat-form-field>
                        
                      </p>
                      

                      <p class="start">

                        <mat-form-field class="mopMatricula" appearance="fill" color="accent">
                          <mat-label>Data Vencimento</mat-label>
                          <input
                          matInput
                          [readonly]="true"
                          [matDatepicker]="picker"
                          [matDatepickerFilter]="myFilterP"
                          ngDefaultControl
                          formControlName="data_vencimento_form"
                          [(ngModel)]="data_vencimento_form"
                          (dateChange)="calcularAtraso()"
                          >
                          <mat-hint>Data de Vencimento</mat-hint>
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="mopMatricula" appearance="fill" color="accent">
                          <mat-label>Atraso</mat-label>
                          <input
                          matInput
                          [readonly]="true"
                          ngDefaultControl
                          formControlName="atraso_form"
                          [(ngModel)]="atraso_form"
                          >
                          <mat-icon matSuffix>access_time</mat-icon>
                          <mat-hint>Dias de Atraso</mat-hint>
                        </mat-form-field>
                        <mat-form-field class="mopMatricula" appearance="fill" color="accent">
                          <mat-label>Multa</mat-label>
                          <input
                          matInput
                          ngDefaultControl
                          [readonly]="true"
                          formControlName="multa_form"
                          [(ngModel)]="multa_form"
                          currencyMask
                          [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                          >
                          <mat-icon matSuffix>attach_money</mat-icon>
                          <mat-hint>Multa</mat-hint>
                        </mat-form-field>
                        
                      </p>
                      <p class="start">
                        <button
                          class="validar"
                          mat-raised-button
                          (click)="limpar()"
                          color="warn"
                          aria-label="Example icon button with a home icon">
                          <mat-icon>delete</mat-icon> Limpar Formulário
                        </button>

                        <button *ngIf="exibir_tabela===true"
                          class="validar"
                          mat-raised-button
                          (click)="limparTabela()"
                          color="warn"
                          aria-label="Example icon button with a home icon">
                          <mat-icon>delete</mat-icon> Limpar Tabela
                        </button>
    

                        <button
                          class="validar"
                          mat-raised-button
                          (click)="inserir(formularioSimuladorCobranca)"
                          color="accent"
                          aria-label="Example icon button with a home icon">
                          <mat-icon>add</mat-icon> Inserir Dados na Tabela
                        </button>

                        <button
                          class="validar"
                          mat-raised-button
                          (click)="exibeAlcada()"
                          color="accent"
                          aria-label="Example icon button with a home icon">
                          <mat-icon>done</mat-icon> Exibe Alçada
                        </button>
                        
                </form>
            </mat-card>
            <div class="container">
              <table mat-table *ngIf="dados_adicionados>0"
                [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
                <ng-container matColumnDef="cod_cn">
                  <th mat-header-cell *matHeaderCellDef> Código CN </th>
                  <td mat-cell *matCellDef="let element"> {{element.cod_cn}}
                  </td>
                </ng-container>
        
                <ng-container matColumnDef="titulo">
                  <th mat-header-cell *matHeaderCellDef> Título </th>
                  <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
                </ng-container>
        
                <ng-container matColumnDef="item">
                  <th mat-header-cell *matHeaderCellDef> Item </th>
                  <td mat-cell *matCellDef="let element"> {{element.item}} </td>
                </ng-container>
        
                <ng-container matColumnDef="valor">
                  <th mat-header-cell *matHeaderCellDef> Valor </th>
                  <td mat-cell *matCellDef="let element"> {{element.valor | currency: 'BRL'}} 
                  </td>
                </ng-container>
        
                <ng-container matColumnDef="data_vencimento">
                  <th mat-header-cell *matHeaderCellDef> Data de Vencimento </th>
                  <td mat-cell *matCellDef="let element"> {{element.data_vencimento | date: 'dd/MM/yyyy'}} </td>
                </ng-container>
        
                <ng-container matColumnDef="atraso">
                  <th mat-header-cell *matHeaderCellDef> Atraso </th>
                  <td mat-cell *matCellDef="let element"> {{element.atraso}} </td>
                </ng-container>
        
                <ng-container matColumnDef="multa">
                  <th mat-header-cell *matHeaderCellDef> Multa </th>
                  <td mat-cell *matCellDef="let element"> {{element.multa | currency: 'BRL'}} </td>
                </ng-container>
        
                <ng-container matColumnDef="juros">
                  <th mat-header-cell *matHeaderCellDef> Juros </th>
                  <td mat-cell *matCellDef="let element"> {{element.juros | currency: 'BRL'}} </td>
                </ng-container>
        
                <ng-container matColumnDef="valor_atualizado">
                  <th mat-header-cell *matHeaderCellDef> Valor Atualizado </th>
                  <td mat-cell *matCellDef="let element"> {{element.valor_atualizado | currency: 'BRL'}} </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
       
        </div>
        <div class="right-panel">
          <form [formGroup]="formularioLateral">
          <mat-card class="side-card">
            <mat-card-header>
              <mat-card-title>Condições do Acordo</mat-card-title>
              <mat-card-subtitle>Dados Gerais</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>                  
                <div class="parcelas">
                  <h5 class="parcelamento" color="accent">Valor Original</h5>
                  <h5>💵 {{valor_original | currency: 'BRL'}}</h5>
                </div>
                
                <div class="parcelas">
                  <h5 class="parcelamento" color="accent">Débito Atualizado</h5>
                  <h5>💵 {{debito_atualizado | currency: 'BRL'}}</h5>
                </div>
                <p class="space"></p>

                <div class="right-side">
                  <button
                    mat-icon-button
                    class="validar"
                    matTooltip="Limpar Tudo"
                    (click)="limparTudo()"
                    color="warn"
                    aria-label="Example icon button with a home icon">
                    <mat-icon>delete</mat-icon>
                  </button>

                  <button
                    mat-icon-button
                    class="validar"
                    (click)="simularAcordo()"
                    matTooltip="Simular Acordo"
                    color="accent"
                    aria-label="Example icon button with a home icon">
                    <mat-icon>attach_money</mat-icon>
                  </button>

                  <button
                    mat-icon-button
                    class="validar"
                    (click)="gerarExtrato()"
                    matTooltip="Gerar Extrato"
                    color="accent"
                    aria-label="Example icon button with a home icon">
                    <mat-icon>cloud_download</mat-icon>
                  </button>



                </div>
                  


              
            </mat-card-content>

          </mat-card>
          <mat-card class="side-card">
            <mat-card-header>
              <mat-card-title>Parcelamento</mat-card-title>
              <mat-card-subtitle>Dados Gerais</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div>
                <h5 class="parcelamento" color="accent">Parcela 1 ou A Vista</h5>
                <div class="parcelas">
                  <h5>📅 14/12/2022</h5>
                  <h5>💵 R$ 550,35</h5>
                  <h5>🔺 R$ 77,35</h5>
                </div>
              </div>
              <div *ngIf="parcelas>=2">
                <h5 class="parcelamento" color="accent">Parcela 2</h5>
                <div class="parcelas">
                  <h5>📅 14/12/2022</h5>
                  <h5>💵 R$ 550,35</h5>
                  <h5>🔺 R$ 77,35</h5>
                </div>
              </div>
              <div *ngIf="parcelas>=3">
                <h5 class="parcelamento" color="accent">Parcela 3</h5>
                <div class="parcelas">
                  <h5>📅 14/12/2022</h5>
                  <h5>💵 R$ 550,35</h5>
                  <h5>🔺 R$ 77,35</h5>
                </div>
              </div>
              <div *ngIf="parcelas>=4">
                <h5 class="parcelamento" color="accent">Parcela 4</h5>
                <div class="parcelas">
                  <h5>📅 14/12/2022</h5>
                  <h5>💵 R$ 550,35</h5>
                  <h5>🔺 R$ 77,35</h5>
                </div>
              </div>
              <div *ngIf="parcelas>=5">
                <h5 class="parcelamento" color="accent">Parcela 5</h5>
                <div class="parcelas">
                  <h5>📅 14/12/2022</h5>
                  <h5>💵 R$ 550,35</h5>
                  <h5>🔺 R$ 77,35</h5>
                </div>
              </div>
              

            </mat-card-content>
          </mat-card>

          <mat-card class="side-card">
            <mat-card-header>
              <mat-card-title>Dados Multa</mat-card-title>
              <mat-card-subtitle>Dados Gerais</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-card>

                <div class="parcelas">
                  <h5 class="parcelamento" color="accent">Multa Fixa</h5>
                  <h5>🔺 {{multa_fixa_form | percent: '1.2-2'}}</h5>
                </div>
                
                <div class="parcelas">
                  <h5 class="parcelamento" color="accent">Multa Aplicada</h5>
                  <h5>🔺 {{multa_aplicada_form | percent: '1.2-2'}}</h5>
                </div>

                <div class="parcelas">
                  <h5 class="parcelamento" color="accent">R$ Total Multa</h5>
                  <h5>💵 {{total_multa | currency: 'BRL'}}
                  </h5>
                </div>

              </mat-card>
              

            </mat-card-content>
          </mat-card>

          <mat-card class="side-card">
            <mat-card-header>
              <mat-card-title>Dados Juros</mat-card-title>
              <mat-card-subtitle>Dados Gerais</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-card>

                <div class="parcelas">
                  <h5 class="parcelamento" color="accent">Juros Mês</h5>
                  <h5>🔺 {{juros_mes | percent: '1.2-2'}}</h5>
                </div>

                <div class="parcelas">
                  <h5 class="parcelamento" color="accent">Juros Mês Aplicado</h5>
                  <h5>🔺 {{juros_mes_aplicado | percent: '1.2-2'}}</h5>
                </div>
                
                <div class="parcelas">
                  <h5 class="parcelamento" color="accent">Juros Dia Aplicado</h5>
                  <h5>🔺 {{juros_dia_aplicado | percent: '1.2-2'}}</h5>
                </div>

                <div class="parcelas">
                  <h5 class="parcelamento" color="accent">R$ Total Juros Atraso</h5>
                  <h5 currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', precision: 2 }">
                    💵 {{total_juros_atraso}}
                  </h5>
                </div>

                <div class="parcelas">
                  <h5 class="parcelamento" color="accent">R$ Total Juros Parcelas</h5>
                  <h5 currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', precision: 2 }">
                    💵 {{total_juros_parcelas}}
                  </h5>
                </div>
              </mat-card>
            </mat-card-content>
          </mat-card>
        </form>
        </div>

        

      </div>

</div>

