<h2 mat-dialog-title>Líderes Destaques - Mecânica</h2>
<mat-dialog-content class="mat-typography">
  <div class="premiacao">
    <div class="logo"></div>
    <p>Nessa opção você consegue verificar a quantidade de ocorrências (rechamadas) através do número do pedido, CPF ou Código da Consultora.</p>
  </div>
  <h3 class="categorias">Requisitos de participação:</h3>
  <ol>
    <li>Estar com o cadastro ativo como Líder de Negócios na Natura até o momento do reconhecimento da edição Destaques 2022, podendo ingressar em qualquer ciclo do ano de 2022.</li>
    <li>Aceitar participação no programa no site www.naturareconhece.com.br/destaques2022 até o último dia do ciclo 20 de 2022.</li>
  </ol>
  <br>

  <h3 class="categorias">Requisitos para garantir o reconhecimento:</h3>
  <ol>
    <li>Manter o seu cadastro ativo como Líder de Negócios Natura até o momento da divulgação dos ganhadores e do recebimento da premiação, ou seja, não pode haver rescisão do contrato de Líder de Negócios antes do reconhecimento por qualquer que seja o motivo.</li>
    <li>Não estar inadimplente, ou seja, com boleto atrasado, ou com parcelas de acordos pendentes de pagamento, ainda que tais parcelas não estiverem vencidas, até 20 dias úteis antes do evento.</li>
    <li>Respeitar todas as disposições do regulamento.</li>
  </ol>
  <br>
  <p>Líderes que não cumprirem os requisitos acima, ainda que tenham se classificado nos rankings durante o programa Destaques 2022, serão desclassificados(as) do reconhecimento e não haverá descida de ranking. </p>
  <br>

  <h3 class="categorias">Categorias</h3>

  <div class="listCategorias">
    <div class="listCategoriasItem">
        <h4 class="pontosDestaques">Pontos Destaques</h4>
        <p>total de pontos destaques acumulado do ciclo 01 ao 20 de 2022 obtidos através da remuneração ciclal e do bônus quadriciclal</p>
        <p>Obs.: exceto verbas rescisórias e plano de crescimento diamante (30k)</p>
        <p class="calculo">Cálculo: 1 real = 1 ponto destaque</p>
    </div>
    <div class="listCategoriasItem">
      <h4 class="cpv">Crer Para Ver</h4>
        <p>percentual de penetração do seu grupo de consultoras na linha CPV do ciclo 01 ao 21 de 2022</p>
        <p class="calculo">Cálculo: Consultoras ativas CPV /Consultoras ativas  </p>
    </div>
  </div>
  <div class="listCategoriasItemBonus">
    <h4 class="bonus">Bônus</h4>
    <p><span class="item">Plano de Crescimento:</span> se manter ou migrar de nível para ouro/diamante</p>
    <p><span class="item">Digital:</span> crescimento de 40% de espaços digitais com vendas vs cadastros no ciclo - mesmos ciclos dos pontos em dobro das Consultoras </p>
  </div>

  <div class="listCategoriasItemBonus">
    <h4 class="bonus">Desempate</h4>
    <ol>
      <li>Volume absoluto de pontos totais acumulados no grupo</li>
      <li>Atividade acumulada no grupo</li>
      <li>Volume de pontos em perfumaria acumulados no grupo</li>
    </ol>
  </div>

  <h3 class="categorias">Premiação</h3>
  <div class="premiacao">
    <p>quantidade de vagas por categoria</p>
    <div class="mecanica"></div>
  </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close><mat-icon>clear</mat-icon>Fechar</button>
</mat-dialog-actions>