<h2 mat-dialog-title>Vale Pontos – Ação de Reparação Exclusivo Nordeste</h2>
<mat-dialog-content class="mat-typography">
  <p>Aqui você encontra a listagem de Consultoras Natura que possuem pontos a serem resgatados de acordo com a ação de reparação para os casos críticos da região do Nordeste.</p>
<br>
  <h3>Dúvidas?</h3>
  <p><a href="https://natura.beedoo.io/wiki/291456/Problemas-com-as-Entregas-dos-Pedidos-na-Regi-o-do-Nordeste--NE--" target="_blank"><b>Clique aqui</b></a> e confira as orientações completas sobre o tema.</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close><mat-icon>clear</mat-icon>Fechar</button>
</mat-dialog-actions>