<h2 mat-dialog-title>Cadastros Irregulares</h2>
<mat-dialog-content class="mat-typography">
  <p>Nessa opção, você encontra a listagem de Consultoras que estão com seu Cadastro Digital bloqueado devido ao descumprimento das regras e políticas de Venda Digital.</p>
  <p>Diariamente é realizado um acompanhamento das irregularidades no exercício da venda digital, ou seja, é avaliado se a consultora descumpre qualquer ponto descrito nos documentos jurídicos.</p>
  <p>Se a consultora não seguir as regras descritas nesses documentos + Cartilha de Vendas Digital, o espaço/cadastro dela será bloqueado.</p>
  <p>Exemplo de situações que levam ao bloqueio do Cadastro Digital: </p>
  <ul>
    <li>Divulgação de links patrocinados;</li>
    <li>Envio de e-mail marketing enviados em nome da Natura</li>
    <li>Comercialização de produtos Natura em sites na internet;</li>
    <li>Criação de aplicativos “paralelos”; </li>
    <li>Redirect – redirecionamento de um site na internet que leva o Consumidor direto para o seu Espaço Digital </li>
  </ul>
<br>
  <h3>Dúvidas?</h3>
  <p><a href="https://natura.beedoo.io/wiki/256056/Cadastro-de-Consultora#pmlnkOTc3NTkgMTYwNjIyMDgwMzgwNA" target="_blank"><b>Clique aqui</b></a> e confira as orientações completas sobre o tema.</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close><mat-icon>clear</mat-icon>Fechar</button>
</mat-dialog-actions>