<h2 mat-dialog-title>Pagamentos Rejeitados de Empresárias</h2>
<mat-dialog-content class="mat-typography">
  <p>É uma planilha para tratar os casos de pagamentos de empresárias .</p>
  <br>
  <p>Está é uma planilha compartilhada com a área de contas a pagar e modelos comerciais, para realizarem a programação dos pagamentos que foram rejeitados .</p>
  <br>
  <p>A operação que trata/atende modelos comerciais , usa essa planilha para consulta de informações dos dados disponibilizados e tratativa quando necessário</p>
  <p>Ex. Tem a informação de pagto e a empresária alega que não recebeu . O atendimento atuará.</p>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close><mat-icon>clear</mat-icon>Fechar</button>
</mat-dialog-actions>