<h2 mat-dialog-title>Histórico Dynamics</h2>
<mat-dialog-content class="mat-typography">
  <p>Nessa opção você consegue verificar a quantidade de ocorrências (rechamadas) através do número do pedido, CPF ou Código da Consultora.</p>
  <h3 class="sistema">Você lembra o que é rechamada?</h3>
  <p>Rechamada é quando temos um contato referente a mesma reclamação já registrada anteriormente seja para esclarecer alguma dúvida do contato anterior, solicitar status e/ou para acrescentar alguma informação.</p>
  <p>Situações que podem levar a uma <span class="item">rechamada</span>:</p>
  <ul>
    <li>Ocorrência registrada anteriormente e já solucionada;</li>
    <li>Ocorrência registrada anteriormente e em andamento no prazo;</li>
    <li>Ocorrência registrada anteriormente e em andamento fora do prazo;</li>
  </ul>

  <br>

  <p>Antes de seguir para o passo a passo de registro, devemos entender que:</p>
  <ul>
    <li>Só é considerado uma rechamada quando já existe um registro do assunto no sistema <span class="sistema">Dynamics</span> (seja com os status <span class="state">em andamento</span> e/ou <span class="state">solucionado</span>, porém houve outro acionamento sobre o assunto);</li>
    <li>Antes de seguir qualquer registro, <span class="sistema">entenda a queixa da cliente</span>, para que possa dar a melhor tratativa para ela;</li>
    <li>Se a cliente informar que não lembra o número da ocorrência, basta verificar no <span class="sistema">histórico de registros</span> dela dentro do Dynamics ou no Painel de Consulta;</li>
    <li>Se não localizar a ocorrência do assunto reclamado (Pelo número informado ou na busca dentro das ocorrências), você deverá registrar uma nova ocorrência e passar o protocolo;</li>
  </ul>





  <h3>Dúvidas?</h3>
  <p><a href="https://natura.beedoo.io/wiki/135188/Rechamada" target="_blank"><b>Clique aqui</b></a> e confira as orientações completas sobre o tema.</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close><mat-icon>clear</mat-icon>Fechar</button>
</mat-dialog-actions>