<h2 mat-dialog-title>T2G</h2>
<mat-dialog-content class="mat-typography">
  <p>É uma planilha onde consta os códigos/LN de estoques da área de incentivos para ser usado em ações da própria área, ou para resgates de produtos Avon.</p>
  <br>
  <p>A Operação que trata/atende incentivos/MMA usa para ações voltadas para incentivos , quando a representante alegam que não receberam os prêmios.</p>
  <p>Dessa forma o operador analisa se fez jus, e caso positivo faz a inclusão do LN/códigos no SAF e esse prêmio seguirá no faturamento de caixa das representantes.</p>
  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close><mat-icon>clear</mat-icon>Fechar</button>
</mat-dialog-actions>