button {
    background-color: #FF5722;
    color: #fff;
    padding: 0.5em;
    width: 5em;
    border-radius: 5em;
    border: #FF5722;

}

button:hover {
    cursor: pointer;
    background-color: #e7c59e;
    color: #000;
}