<div class="main">
    <div class="title">
        <div>
            <div id="logoavon"></div>
        </div>
        <h1>Pesquisa - {{title}}</h1>
        <div class="menu">
            <h4><mat-icon class="color" matSuffix>account_circle</mat-icon>
                {{user}}
            </h4>
            <button
                routerLink="/avon"
                class="logout"
                color="primary"
                mat-button><mat-icon>arrow_back</mat-icon>Voltar</button>
        </div>
    </div>

    <p class="space"> </p>

    <form [formGroup]="formularioRejeicaoPagamento" class="example-form">
        <div class="pesquisar">
            <div class="search">
                <mat-form-field
                  appearance="fill"
                  class="mopMatricula"
                  color="primary">
            
                  <mat-label>Selecione o Item de Pesquisa</mat-label>
                  <mat-select disableRipple ngDefaultControl
                  formControlName="selecionado" [ngModel]="selecionado"
                  (valueChange)="onSelectId($event)">
                  <mat-option *ngFor="let id of identificadores" [value]="id">
                    {{id}}</mat-option>
                  </mat-select>
                  <mat-icon matPrefix>search</mat-icon>  
                  <mat-hint>Selecione uma opção</mat-hint>
          
                </mat-form-field>
                
                <mat-form-field *ngIf="selecionado==='Registro'"
                class="codigoCn" appearance="fill" color="primary">
                    <mat-label>Registro</mat-label>
                    <input
                        matInput
                        placeholder="Digite o Registro"
                        ngDefaultControl
                        formControlName="registro"
                        [(ngModel)]="registro">
                    <mat-icon matSuffix>account_circle</mat-icon>
                    <mat-hint>Registro</mat-hint>
                  </mat-form-field>  

                <mat-form-field *ngIf="selecionado==='Nome'"
                class="codigoCn" appearance="fill" color="primary">
                    <mat-label>Nome Completo</mat-label>
                    <input
                        matInput
                        placeholder="Digite o Nome (ou parte do nome)"
                        ngDefaultControl
                        formControlName="nome"
                        [(ngModel)]="nome">
                    <mat-icon matSuffix>account_circle</mat-icon>
                    <mat-hint>Nome Completo</mat-hint>
                  </mat-form-field>  

            </div>


            <div class="botoes">

                <button
                    class="validar"
                    mat-raised-button
                    [disabled]="(registro === null || registro ===
                    undefined ||
                    registro === '')
                    &&
                    (
                      nome === null || nome ===
                    undefined ||
                    nome === '')"
                    (click)="limpar()"
                    color="warn"
                    aria-label="Example icon button with a home icon">
                    <mat-icon>clear</mat-icon> Limpar
                </button>

                <button
                    *ngIf="selecionado==='Registro'"
                    class="validar"
                    mat-raised-button
                    [disabled]="registro=== null || registro==
                    undefined ||
                    registro=== ''"
                    (click)="pesquisarRegistro()"
                    color="primary"
                    aria-label="Example icon button with a home icon">
                    <mat-icon>search</mat-icon> Pesquisar
                </button>

                <button
                    *ngIf="selecionado==='Nome'"
                    class="validar"
                    mat-raised-button
                    [disabled]="nome=== null || nome==
                    undefined ||
                    nome=== ''"
                    (click)="pesquisarNome()"
                    color="primary"
                    aria-label="Example icon button with a home icon">
                    <mat-icon>search</mat-icon> Pesquisar
                </button>
                
            </div>
        </div>

    </form>

    <div *ngIf="!clickedRows.size">
        <div class="card">
            <mat-card class="card-width">
              <mat-card-content>
                <p class="title-card">Registro</p>
                <p>Clique eu uma linha da tabela para exibir.</p>
              </mat-card-content>
            </mat-card>
        
            <mat-card class="card-width">
              <mat-card-content>
                <p class="title-card">Nome</p>
                <p>Clique eu uma linha da tabela para exibir.</p>       
              </mat-card-content>
            </mat-card>
        
            <mat-card class="card-width">
              <mat-card-content>
                <p class="title-card">Divisão</p>
                <p>Clique eu uma linha da tabela para exibir.</p> 
              </mat-card-content>
            </mat-card>
            
            <mat-card class="card-width">
              <mat-card-content>
                <p class="title-card">Região</p>
                <p>Clique eu uma linha da tabela para exibir.</p>  
              </mat-card-content>
            </mat-card>
        
            <mat-card class="card-width">
              <mat-card-content>
                <p class="title-card">Valor Comissão Bloqueado</p>
                <p>Clique eu uma linha da tabela para exibir.</p> 
              </mat-card-content>
            </mat-card>
            
          </div>
          <div class="card">
            <mat-card class="card-width">
              <mat-card-content>
                <p class="title-card">Status Dicas MEI</p>
                <p>Clique eu uma linha da tabela para exibir.</p>  
              </mat-card-content>
            </mat-card>
        
            <mat-card class="card-width">
              <mat-card-content>
                <p class="title-card">Status Credencial</p>
                <p>Clique eu uma linha da tabela para exibir.</p>
              </mat-card-content>
            </mat-card>
        
          </div>
      </div>
    
    <div *ngFor="let clickedRow of clickedRows">
      <div class="card">
        <mat-card class="card-width">
          <mat-card-content>
            <p class="title-card">Registro</p>
            <p>{{clickedRow.registro}}</p>
            <p *ngIf="clickedRow.registro===null">---</p>
          </mat-card-content>
        </mat-card>
    
        <mat-card class="card-width">
          <mat-card-content>
            <p class="title-card">Nome</p>
            <p>{{clickedRow.nome}}</p>
            <p *ngIf="clickedRow.nome===null">---</p>        
          </mat-card-content>
        </mat-card>
    
        <mat-card class="card-width">
          <mat-card-content>
            <p class="title-card">Divisão</p>
            <p>{{clickedRow.divisao}}</p>
            <p *ngIf="clickedRow.divisao===null">---</p>   
          </mat-card-content>
        </mat-card>
        
        <mat-card class="card-width">
          <mat-card-content>
            <p class="title-card">Região</p>
            <p>{{clickedRow.regiao}}</p>
            <p *ngIf="clickedRow.regiao===null">---</p>   
          </mat-card-content>
        </mat-card>
    
        <mat-card class="card-width">
          <mat-card-content>
            <p class="title-card">Valor Comissão Bloqueado</p>
            <p>{{clickedRow.valor_comissao_bloq}}</p>
            <p *ngIf="clickedRow.valor_comissao_bloq===null">---</p>   
          </mat-card-content>
        </mat-card>
        
      </div>
      <div class="card">
        <mat-card class="card-width">
          <mat-card-content>
            <p class="title-card">Status Dicas MEI</p>
            <p>{{clickedRow.status_dicas_mei}}</p>
            <p *ngIf="clickedRow.status_dicas_mei===null">---</p>   
          </mat-card-content>
        </mat-card>
    
        <mat-card class="card-width">
          <mat-card-content>
            <p class="title-card">Status Credencial</p>
            <p>{{clickedRow.status_credencial}}</p>
            <p *ngIf="clickedRow.status_credencial===null">---</p>  
          </mat-card-content>
        </mat-card>
    
      </div>
    </div>


    <div class="container">
        <div class="tabela">

          <div class="spinner" *ngIf="carregando===true">
            <mat-spinner
                [diameter]="40"
                color="primary"
                *ngIf="carregando===true"></mat-spinner>
            <h3>Carregando...</h3>
        </div>
            <table mat-table *ngIf="pesquisa_efetuada===true"
              [dataSource]="tableDataSource" class="mat-elevation-z8 demo-table" matPaginator #paginator>

              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}}</td>
              </ng-container>
              
              <ng-container matColumnDef="regiao">
                <th mat-header-cell *matHeaderCellDef> Região </th>
                <td mat-cell *matCellDef="let element"> {{element.regiao}}</td>
              </ng-container>

              <ng-container matColumnDef="divisao">
                <th mat-header-cell *matHeaderCellDef> Divisão </th>
                <td mat-cell *matCellDef="let element"> {{element.divisao}}</td>
              </ng-container>

              <ng-container matColumnDef="setor">
                  <th mat-header-cell *matHeaderCellDef> Setor </th>
                  <td mat-cell *matCellDef="let element"> {{element.setor}}</td>
              </ng-container>

              <ng-container matColumnDef="equipe">
                <th mat-header-cell *matHeaderCellDef> Equipe </th>
                <td mat-cell *matCellDef="let element"> {{element.equipe}}</td>
              </ng-container>

              <ng-container matColumnDef="registro">
                  <th mat-header-cell *matHeaderCellDef> Registro </th>
                  <td mat-cell *matCellDef="let element"> {{element.registro}}</td>
              </ng-container>

              <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.nome}}</td>
              </ng-container>

              <ng-container matColumnDef="cps_bloqueadas">
                  <th mat-header-cell *matHeaderCellDef> CPs Bloqueadas </th>
                  <td mat-cell *matCellDef="let element"> {{element.cps_bloqueadas}}</td>
              </ng-container>

              <ng-container matColumnDef="valor_comissao_bloq">
                  <th mat-header-cell *matHeaderCellDef> Valor Comissão Bloqueado </th>
                  <td mat-cell *matCellDef="let element"> {{element.valor_comissao_bloq}}</td>
              </ng-container>

              <ng-container matColumnDef="status_dicas_mei">
                  <th mat-header-cell *matHeaderCellDef> Status Dicas MEI </th>
                  <td mat-cell *matCellDef="let element"> {{element.status_dicas_mei}}</td>
              </ng-container>

              <ng-container matColumnDef="status_credencial">
                  <th mat-header-cell *matHeaderCellDef> Status Credencial </th>
                  <td mat-cell *matCellDef="let element"> {{element.status_credencial}}</td>
              </ng-container>

              <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef> Status </th>
                  <td mat-cell *matCellDef="let element"> {{element.status}}</td>
              </ng-container>

              <ng-container matColumnDef="situacao_cnpj">
                  <th mat-header-cell *matHeaderCellDef> Situação CNPJ </th>
                  <td mat-cell *matCellDef="let element"> {{element.situacao_cnpj}}</td>
              </ng-container>

              <ng-container matColumnDef="agencia">
                  <th mat-header-cell *matHeaderCellDef> Agência </th>
                  <td mat-cell *matCellDef="let element"> {{element.agencia}}</td>
              </ng-container>

              <ng-container matColumnDef="pagtos_retro_aeps">
                  <th mat-header-cell *matHeaderCellDef> Pagamentos Retroativos AEPs </th>
                  <td mat-cell *matCellDef="let element"> {{element.pagtos_retro_aeps}}</td>
              </ng-container>

              <ng-container matColumnDef="data_aeps">
                  <th mat-header-cell *matHeaderCellDef> Data AEPs </th>
                  <td mat-cell *matCellDef="let element"> {{element.data_aeps}}</td>
              </ng-container>

              <ng-container matColumnDef="tipo">
                  <th mat-header-cell *matHeaderCellDef> Tipo </th>
                  <td mat-cell *matCellDef="let element"> {{element.tipo}}</td>
              </ng-container>

              <ng-container matColumnDef="pagamento_bloqueado">
                  <th mat-header-cell *matHeaderCellDef> Pagamento Bloqueado  </th>
                  <td mat-cell *matCellDef="let element"> {{element.pagamento_bloqueado}}</td>
              </ng-container>

              <ng-container matColumnDef="data_importacao">
                <th mat-header-cell *matHeaderCellDef> Data da Importação  </th>
                <td mat-cell *matCellDef="let element"> {{element.data_importacao}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr
                  mat-row
                  (click)="clickedRows.clear()"
                  (click)="clickedRows.add(row)"
                  [class.demo-row-is-clicked]="clickedRows.has(row)"
                  *matRowDef="let row; columns: displayedColumns;">
              </tr>
            </table>
            <mat-paginator
                [pageSizeOptions]="[10, 15, 20]"
                showFirstLastButtons
                aria-label="Select page of periodic elements"
                color="primary">
            </mat-paginator>
        </div>
        
    </div>
    
    </div>