<h2 mat-dialog-title>Consulta de Regularização Credencial MEI</h2>
<mat-dialog-content class="mat-typography">
    <p>Nesta planilha você encontra os status dos cadastros das Empresárias da Beleza Avon que são MEI, para que elas possam receber dentro do programa de empresárias vigente.</p>
    <br>
    <h3>⚠️ Pontos importantes</h3>
    <ul>
      <li>Para que uma Empresária da Beleza possa receber o pagamento dentro do programa, ela precisa emitir Nota Fiscal e para isso seu CNPJ deve estar ATIVO.</li>
      <li>Se o status da Empresária estiver como “AEP Realizada”, informe que o pagamento foi realizado.</li>
    </ul>
    <br>
  <h3>🔎 Campos de Busca</h3>
    <ul>
      <li>Registro</li>
      <li>Nome Completo</li>
    </ul>
    <br>
  <h3>Dúvidas?</h3>
  <p><a href="https://avon.beedoo.io/wiki/235699/Programa-Empres-ria" target="_blank"><b>Clique aqui</b></a> e confira as orientações completas sobre o tema.</p>

  <br>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close><mat-icon>clear</mat-icon>Fechar</button>
</mat-dialog-actions>