<div class="main">
    <div class="title">
        <div>
            <div id="logoavon"></div>
        </div>
        <h1>Pesquisa - {{title}}</h1>
        <div class="menu">
            <h4><mat-icon class="color" matSuffix>account_circle</mat-icon>
                {{user}}
            </h4>
            <button
                routerLink="/home"
                class="logout"
                color="primary"
                mat-button><mat-icon>arrow_back</mat-icon>Voltar</button>
        </div>
    </div>

    <p class="space"> </p>

    <form [formGroup]="formularioPlanoBeTrocas" class="example-form">
        <div class="pesquisar">
            <div class="search">

                <mat-form-field class="codigoCn" appearance="fill" color="primary">
                    <mat-label>Item Original</mat-label>
                    <input
                        matInput
                        placeholder="Digite o Nº do Item Original"
                        ngDefaultControl
                        formControlName="item_original"
                        [(ngModel)]="item_original">
                    <mat-icon matSuffix>account_circle</mat-icon>
                    <mat-hint>Item Original</mat-hint>
                </mat-form-field>

            </div>


            <div class="botoes">

                <button
                    class="validar"
                    mat-raised-button
                    [disabled]="item_original === null || item_original ===
                    undefined ||
                    item_original === ''"
                    (click)="limpar()"
                    color="warn"
                    aria-label="Example icon button with a home icon">
                    <mat-icon>clear</mat-icon> Limpar
                </button>

                <button
                    class="validar"
                    mat-raised-button
                    [disabled]="item_original === null || item_original ===
                    undefined ||
                    item_original === ''"
                    (click)="pesquisar()"
                    color="primary"
                    aria-label="Example icon button with a home icon">
                    <mat-icon>search</mat-icon> Pesquisar
                </button>
            </div>
        </div>

    </form>

    <div *ngIf="!clickedRows.size">
        <div class="card">
            <mat-card class="card-width">
              <mat-card-content>
                <p class="title-card">Tipo Estrutura</p>
                <p>Aguardando...</p>
              </mat-card-content>
            </mat-card>
        
            <mat-card class="card-width">
              <mat-card-content>
                <p class="title-card">Nome Estrutura</p>
                <p>Aguardando...</p>       
              </mat-card-content>
            </mat-card>
        
            <mat-card class="card-width">
              <mat-card-content>
                <p class="title-card">Tipo Mensagem</p>
                <p>Aguardando...</p> 
              </mat-card-content>
            </mat-card>
            
            <mat-card class="card-width">
              <mat-card-content>
                <p class="title-card">Item Original</p>
                <p>Aguardando...</p>  
              </mat-card-content>
            </mat-card>
        
            <mat-card class="card-width">
              <mat-card-content>
                <p class="title-card">Tipo Item Original</p>
                <p>Aguardando...</p> 
              </mat-card-content>
            </mat-card>
            
          </div>
          <div class="card">
            <mat-card class="card-width">
              <mat-card-content>
                <p class="title-card">Item Substituto</p>
                <p>Aguardando...</p>  
              </mat-card-content>
            </mat-card>
        
            <mat-card class="card-width">
              <mat-card-content>
                <p class="title-card">Nome Composicao Item Substituto</p>
                <p>Aguardando...</p>
              </mat-card-content>
            </mat-card>
        
          </div>
      </div>
    
    <div *ngFor="let clickedRow of clickedRows">
      <div class="card">
        <mat-card class="card-width">
          <mat-card-content>
            <p class="title-card">Tipo Estrutura</p>
            <p>{{clickedRow.tipo_estrutura}}</p>
            <p *ngIf="clickedRow.tipo_estrutura===null">---</p>
          </mat-card-content>
        </mat-card>
    
        <mat-card class="card-width">
          <mat-card-content>
            <p class="title-card">Nome Estrutura</p>
            <p>{{clickedRow.nome_estrutura}}</p>
            <p *ngIf="clickedRow.nome_estrutura===null">---</p>        
          </mat-card-content>
        </mat-card>
    
        <mat-card class="card-width">
          <mat-card-content>
            <p class="title-card">Tipo Mensagem</p>
            <p>{{clickedRow.tipo_mensagem}}</p>
            <p *ngIf="clickedRow.tipo_mensagem===null">---</p>   
          </mat-card-content>
        </mat-card>
        
        <mat-card class="card-width">
          <mat-card-content>
            <p class="title-card">Item Original</p>
            <p>{{clickedRow.item_original}}</p>
            <p *ngIf="clickedRow.item_original===null">---</p>   
          </mat-card-content>
        </mat-card>
    
        <mat-card class="card-width">
          <mat-card-content>
            <p class="title-card">Tipo Item Original</p>
            <p>{{clickedRow.tipo_item_original}}</p>
            <p *ngIf="clickedRow.tipo_item_original===null">---</p>   
          </mat-card-content>
        </mat-card>
        
      </div>
      <div class="card">
        <mat-card class="card-width">
          <mat-card-content>
            <p class="title-card">Item Substituto</p>
            <p>{{clickedRow.item_substituto}}</p>
            <p *ngIf="clickedRow.item_substituto===null">---</p>   
          </mat-card-content>
        </mat-card>
    
        <mat-card class="card-width">
          <mat-card-content>
            <p class="title-card">Nome Composicao Item Substituto</p>
            <p>{{clickedRow.nome_composicao_item_substitut}}</p>
            <p *ngIf="clickedRow.nome_composicao_item_substitut===null">---</p>  
          </mat-card-content>
        </mat-card>
    
      </div>
    </div>




    

    <div class="container">
        <table mat-table *ngIf="pesquisa_efetuada===true"
                [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

                <ng-container matColumnDef="cd_mensagem">
                    <th mat-header-cell *matHeaderCellDef> Cód Mensagem </th>
                    <td mat-cell *matCellDef="let element"> {{element.cd_mensagem}}</td>
                </ng-container>

                <ng-container matColumnDef="dc_mensagem">
                    <th mat-header-cell *matHeaderCellDef> Descrição Mensagem </th>
                    <td mat-cell *matCellDef="let element"> {{element.dc_mensagem}}</td>
                </ng-container>

                <ng-container matColumnDef="tipo_estrutura">
                    <th mat-header-cell *matHeaderCellDef> Tipo Estrutura </th>
                    <td mat-cell *matCellDef="let element"> {{element.tipo_estrutura}}</td>
                </ng-container>

                <ng-container matColumnDef="cd_estrutura_comercial">
                    <th mat-header-cell *matHeaderCellDef> Cód Estrutura Comercial </th>
                    <td mat-cell *matCellDef="let element"> {{element.cd_estrutura_comercial}}</td>
                </ng-container>

                <ng-container matColumnDef="nome_estrutura">
                    <th mat-header-cell *matHeaderCellDef> Nome Estrutura </th>
                    <td mat-cell *matCellDef="let element"> {{element.nome_estrutura}}</td>
                </ng-container>

                <ng-container matColumnDef="nm_ciclo_operacional_inicio">
                    <th mat-header-cell *matHeaderCellDef> Ciclo Operacional Início </th>
                    <td mat-cell *matCellDef="let element"> {{element.nm_ciclo_operacional_inicio}}</td>
                </ng-container>

                <ng-container matColumnDef="nm_ciclo_operacional_termino">
                    <th mat-header-cell *matHeaderCellDef> Ciclo Operacional Término </th>
                    <td mat-cell *matCellDef="let element"> {{element.nm_ciclo_operacional_termino}}</td>
                </ng-container>

                <ng-container matColumnDef="dt_inicio">
                    <th mat-header-cell *matHeaderCellDef> Data Início </th>
                    <td mat-cell *matCellDef="let element"> {{element.dt_inicio | date : 'dd/mm/yyyy'}}</td>
                </ng-container>

                <ng-container matColumnDef="dt_termino">
                    <th mat-header-cell *matHeaderCellDef> Data Término </th>
                    <td mat-cell *matCellDef="let element"> {{element.dt_termino | date : 'dd/mm/yyyy'}}</td>
                </ng-container>

                <ng-container matColumnDef="tipo_mensagem">
                    <th mat-header-cell *matHeaderCellDef> Tipo Mensagem </th>
                    <td mat-cell *matCellDef="let element"> {{element.tipo_mensagem}}</td>
                </ng-container>

                <ng-container matColumnDef="tipo_item_original">
                    <th mat-header-cell *matHeaderCellDef> Tipo Item Original </th>
                    <td mat-cell *matCellDef="let element"> {{element.tipo_item_original}}</td>
                </ng-container>

                <ng-container matColumnDef="item_original">
                    <th mat-header-cell *matHeaderCellDef> Item Original </th>
                    <td mat-cell *matCellDef="let element"> {{element.item_original}}</td>
                </ng-container>

                <ng-container matColumnDef="composicao_item_original">
                    <th mat-header-cell *matHeaderCellDef> Composição Item Original </th>
                    <td mat-cell *matCellDef="let element"> {{element.composicao_item_original}}</td>
                </ng-container>

                <ng-container matColumnDef="nome_composicao_item_original">
                    <th mat-header-cell *matHeaderCellDef> Nome Composição Item Original </th>
                    <td mat-cell *matCellDef="let element"> {{element.nome_composicao_item_original}}</td>
                </ng-container>

                <ng-container matColumnDef="tipo_item_original_2">
                    <th mat-header-cell *matHeaderCellDef> Tipo Item Original 2 </th>
                    <td mat-cell *matCellDef="let element"> {{element.tipo_item_original_2}}</td>
                </ng-container>

                <ng-container matColumnDef="item_substituto">
                    <th mat-header-cell *matHeaderCellDef> Item Substituto </th>
                    <td mat-cell *matCellDef="let element"> {{element.item_substituto}}</td>
                </ng-container>

                <ng-container matColumnDef="composicao_item_substituto">
                    <th mat-header-cell *matHeaderCellDef> Composição Item Substituto </th>
                    <td mat-cell *matCellDef="let element"> {{element.composicao_item_substituto}}</td>
                </ng-container>

                <ng-container matColumnDef="nome_composicao_item_substitut">
                    <th mat-header-cell *matHeaderCellDef> Nome Composição Item Substituto </th>
                    <td mat-cell *matCellDef="let element"> {{element.nome_composicao_item_substitut}}</td>
                </ng-container>

                <ng-container matColumnDef="exibe_box_troca_informa">
                    <th mat-header-cell *matHeaderCellDef> Exibe Box Troca Informa </th>
                    <td mat-cell *matCellDef="let element"> {{element.exibe_box_troca_informa}}</td>
                </ng-container>

                <ng-container matColumnDef="qtde_registros_por_mensagem">
                    <th mat-header-cell *matHeaderCellDef> Qtde Registros Por Mensagem </th>
                    <td mat-cell *matCellDef="let element"> {{element.qtde_registros_por_mensagem}}</td>
                </ng-container>

                <ng-container matColumnDef="data_execucao_da_query">
                    <th mat-header-cell *matHeaderCellDef> Data Execução da Query </th>
                    <td mat-cell *matCellDef="let element"> {{element.data_execucao_da_query | date : 'dd/mm/yyyy'}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr
                    mat-row
                    (click)="clickedRows.clear()"
                    (click)="clickedRows.add(row)"
                    [class.demo-row-is-clicked]="clickedRows.has(row)"
                    *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        
    </div>
    
    </div>