<h2 mat-dialog-title>Calculadora Tempo de Relação</h2>
<mat-dialog-content class="mat-typography">
  <p>O Tempo de Relação é um programa de reconhecimento por tempo de atividade quando a Consultora completa 10, 20, 30 ou 40 anos, independente do papel e somando todos os períodos de contato com a Natura. </p>
  <br>
  <p>Aqui, você consegue calcular o tempo de relação das Consultoras/Consultores de Beleza Natura com a marca. </p>
  <br>
  <p>⚠️ <span class="item">IMPORTANTE! </span> ⚠️</p>
  <p>Independente se a Consultora/Consultor de Beleza teve algum período de cessação, ela/ela consegue recuperar todo tempo de atividade anterior à cessação do primeiro cadastro. Portanto, o tempo total de atividade desta Consultora de Beleza será a soma de todos os períodos como Consultora de Beleza ativa, exceto o tempo em que ela ficou cessada.</p>
  <br>
  <h3>Dúvidas?</h3>
  <p><a href="https://natura.beedoo.io/wiki/302200/Reconhecimento---Consultora" target="_blank"><b>Clique aqui</b></a> e confira as orientações completas sobre o tema.</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close><mat-icon>clear</mat-icon>Fechar</button>
</mat-dialog-actions>