<body>
    <div class="main">
        <header class="title">
            <div id="logonatura"></div>
            <h1>Painel Natura - Home</h1>
            <div class="menu">
                <h4><mat-icon class="color" matSuffix>account_circle</mat-icon> {{user}} </h4>
                <button routerLink="/home" class="logout" color="primary" mat-button><mat-icon>arrow_back</mat-icon>Voltar</button>
            </div>
        </header>
        <p class="space"> </p>
        <mat-accordion class="example-headers-align accordion">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Pesquisas
                    </mat-panel-title>
                    <mat-panel-description>
                        Exibe as views de Pesquisa
                        <mat-icon>search</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="home">
                    <!-- <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="una-avatar"></div>
                            <mat-card-title>Projeto Wave</mat-card-title>
                            <mat-card-subtitle>Pesquisar as consultoras Natura e representantes Avon</mat-card-subtitle>
                        </mat-card-header>
                        <div
                            mat-card-image
                            class="imgHome imgWave"
                            routerLink="/natura/projeto-wave"></div>
                        <mat-card-content class="social">
                            <span
                                (click)="openProjetoWaveDialog()"
                                #tooltip="matTooltip"
                                matTooltip="Visualizar os procedimentos">
                                <fa-icon [icon]="faCircleInfo"></fa-icon>
                            </span>
                        </mat-card-content>
                    </mat-card> -->
            
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="recovery-avatar"></div>
                            <mat-card-title>Recovery</mat-card-title>
                            <mat-card-subtitle>Consultoras com títulos cedidos para a Recovery</mat-card-subtitle>
                        </mat-card-header>
                        <div
                            mat-card-image
                            class="imgHome imgRecovery"
                            routerLink="/natura/recovery">
                        </div>
                        <mat-card-content class="social">
                            <span
                                (click)="openRecovery()"
                                #tooltip="matTooltip"
                                matTooltip="Visualizar os procedimentos">
                                <fa-icon [icon]="faCircleInfo"></fa-icon>
                            </span>
                        </mat-card-content>
                    </mat-card>

                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="pontos-avatar"></div>
                            <mat-card-title>Vale Pontos</mat-card-title>
                            <mat-card-subtitle>Pesquisar consultoras nas bases de Vale Pontos</mat-card-subtitle>
                        </mat-card-header>
                        <div
                            mat-card-image
                            class="imgHome imgNordeste"
                            routerLink="/natura/vale-pontos">
                        </div>
                        <mat-card-content class="social">
                            <span
                                (click)="openValePontosDialog()"
                                #tooltip="matTooltip"
                                matTooltip="Visualizar os procedimentos">
                                <fa-icon [icon]="faCircleInfo"></fa-icon>
                            </span>
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="troca-avatar"></div>
                            <mat-card-title>Planos B e Trocas</mat-card-title>
                            <mat-card-subtitle>Pesquisar quais são os itens substitutos em relação aos originais</mat-card-subtitle>
                        </mat-card-header>
                        <div
                            mat-card-image
                            class="imgHome imgTroca"
                            routerLink="/natura/plano-b-trocas">
                        </div>
                        <mat-card-content class="social">
                            <span
                                (click)="openPlanosBeTrocasDialog()"
                                #tooltip="matTooltip"
                                matTooltip="Visualizar os procedimentos">
                                <fa-icon [icon]="faCircleInfo"></fa-icon>
                            </span>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="home">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="cadastro-avatar"></div>
                            <mat-card-title>Cadastros Irregulares</mat-card-title>
                            <mat-card-subtitle>Pesquisar as consultoras com cadastros irregulares</mat-card-subtitle>
                        </mat-card-header>
                        <div
                            mat-card-image
                            class="imgHome imgCadastro"
                            routerLink="/natura/cadastros-irregulares">
                        </div>
                        <mat-card-content class="social">
                            <span
                                (click)="openCadastrosIrregularesDialog()"
                                #tooltip="matTooltip"
                                matTooltip="Visualizar os procedimentos">
                                <fa-icon [icon]="faCircleInfo"></fa-icon>
                            </span>
                        </mat-card-content>
                    </mat-card>
            
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="pagamento-avatar"></div>
                            <mat-card-title>Pagamentos Rejeitados</mat-card-title>
                            <mat-card-subtitle>Pesquisar consultoras com pagamentos não baixados</mat-card-subtitle>
                        </mat-card-header>
                        <div
                            mat-card-image
                            class="imgHome imgPagamento"
                            routerLink="/natura/pagamentos-rejeitados">
                        </div>
                        <mat-card-content class="social">
                            <span
                                (click)="openPagamentosRejeitadosDialog()"
                                #tooltip="matTooltip"
                                matTooltip="Visualizar os procedimentos">
                                <fa-icon [icon]="faCircleInfo"></fa-icon>
                            </span>
                        </mat-card-content>
                    </mat-card>
        
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="dynamics-avatar"></div>
                            <mat-card-title>Dynamics Histórico</mat-card-title>
                            <mat-card-subtitle>Pesquisar o histórico das consultoras nas bases do Dynamics</mat-card-subtitle>
                        </mat-card-header>
                        <div
                            mat-card-image
                            class="imgHome imgDynamics"
                            routerLink="/natura/dynamics-historico">
                        </div>
                        <mat-card-content class="social">
                            <span
                                (click)="openDynamicsHistoricoDialog()"
                                #tooltip="matTooltip"
                                matTooltip="Visualizar os procedimentos">
                                <fa-icon [icon]="faCircleInfo"></fa-icon>
                            </span>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="home">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="trofeu-avatar"></div>
                            <mat-card-title>Consultoras Destaques</mat-card-title>
                            <mat-card-subtitle>Consultoras destaques do ano anterior e premiação</mat-card-subtitle>
                        </mat-card-header>
                        <div
                            mat-card-image
                            class="imgHome imgDestaques"
                            routerLink="/natura/destaques">
                        </div>
                        <mat-card-content class="social">
                            <span
                                (click)="openDestaquesDialog()"
                                #tooltip="matTooltip"
                                matTooltip="Visualizar os procedimentos">
                                <fa-icon [icon]="faCircleInfo"></fa-icon>
                            </span>
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="trofeu-avatar"></div>
                            <mat-card-title>Líderes Destaques</mat-card-title>
                            <mat-card-subtitle>Líderes destaques de 2022 e premiação em 2023</mat-card-subtitle>
                        </mat-card-header>
                        <div
                            mat-card-image
                            class="imgHome imgDestaques"
                            routerLink="/natura/liders-destaques">
                        </div>
                        <mat-card-content class="social">
                            <span
                                (click)="openLideresDestaques()"
                                #tooltip="matTooltip"
                                matTooltip="Visualizar os procedimentos">
                                <fa-icon [icon]="faCircleInfo"></fa-icon>
                            </span>
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="interinas-avatar"></div>
                            <mat-card-title>Gerentes Interinas</mat-card-title>
                            <mat-card-subtitle>Lista de gerentes interinas que estão momentaneamente substituindo gerentes fixas.</mat-card-subtitle>
                        </mat-card-header>
                        <div
                            mat-card-image
                            class="imgHome imgInterinas"
                            routerLink="/natura/lista-gerentes-interinas">
                        </div>
                        <mat-card-content class="social">
                            <span
                                (click)="openListaGerentesInterinas()"
                                #tooltip="matTooltip"
                                matTooltip="Visualizar os procedimentos">
                                <fa-icon [icon]="faCircleInfo"></fa-icon>
                            </span>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="home">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="GNs-avatar"></div>
                            <mat-card-title>Lista de Gerentes de Negócios</mat-card-title>
                            <mat-card-subtitle>Lista de contatos da nossa Força de Vendas</mat-card-subtitle>
                        </mat-card-header>
                        <div
                            mat-card-image
                            class="imgHome imgGNs"
                            routerLink="/natura/lista-gerentes-de-negocio">
                        </div>
                        <mat-card-content class="social">
                            <span
                                (click)="openListaGerentesNegocios()"
                                #tooltip="matTooltip"
                                matTooltip="Visualizar os procedimentos">
                                <fa-icon [icon]="faCircleInfo"></fa-icon>
                            </span>
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="checkout-avatar"></div>
                            <mat-card-title>Checkout - Pedido Cancelado</mat-card-title>
                            <mat-card-subtitle>Lista de pedidos onde a consultora não efetivou a compra</mat-card-subtitle>
                        </mat-card-header>
                        <div
                            mat-card-image
                            class="imgHome imCheckout"
                            routerLink="/natura/checkout-pedido-cancelado">
                        </div>
                        <mat-card-content class="social">
                            <span
                                (click)="openCheckout()"
                                #tooltip="matTooltip"
                                matTooltip="Visualizar os procedimentos">
                                <fa-icon [icon]="faCircleInfo"></fa-icon>
                            </span>
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="avon-avatar"></div>
                            <mat-card-title>Movimentação ELO</mat-card-title>
                            <mat-card-subtitle>Consultoras migradas da Avon aptas a captar apenas pedidos Natura</mat-card-subtitle>
                        </mat-card-header>
                        <div
                            mat-card-image
                            class="imgHome imgAvon"
                            routerLink="/natura/movimentacao">
                        </div>
                        <mat-card-content class="social">
                            <span
                                (click)="openMigradasAvon()"
                                #tooltip="matTooltip"
                                matTooltip="Visualizar os procedimentos">
                                <fa-icon [icon]="faCircleInfo"></fa-icon>
                            </span>
                        </mat-card-content>
                    </mat-card>
                    <!-- <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="alocacao-avatar"></div>
                            <mat-card-title>Movimentação de Setor e Grupo (ELO)</mat-card-title>
                            <mat-card-subtitle>Lista de consultoras mostrando a estrutura de origem e de destino</mat-card-subtitle>
                        </mat-card-header>
                        <div
                            mat-card-image
                            class="imgHome imgAlocacao"
                            routerLink="/natura/base-alocacao">
                        </div>
                        <mat-card-content class="social">
                            <span
                                (click)="openCheckout()"
                                #tooltip="matTooltip"
                                matTooltip="Visualizar os procedimentos">
                                <fa-icon [icon]="faCircleInfo"></fa-icon>
                            </span>
                        </mat-card-content>
                    </mat-card> -->
                </div>
                <div class="home">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="atrao-entrega-avatar"></div>
                            <mat-card-title>Atraso na Entrega Pedidos Avon</mat-card-title>
                            <mat-card-subtitle>Consultoras listadas na base de Atraso na Entrega e Limite de Crédito</mat-card-subtitle>
                        </mat-card-header>
                        <div
                            mat-card-image
                            class="imgHome imgAtrasoEntrega"
                            routerLink="/natura/atraso-entrega">
                        </div>
                        <mat-card-content class="social">
                            <span
                                (click)="openAtrasoEntrega()"
                                #tooltip="matTooltip"
                                matTooltip="Visualizar os procedimentos">
                                <fa-icon [icon]="faCircleInfo"></fa-icon>
                            </span>
                        </mat-card-content>
                    </mat-card>
                </div>
                <!-- <div class="home">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="recovery-avatar"></div>
                            <mat-card-title>Recovery</mat-card-title>
                            <mat-card-subtitle>Consultoras com títulos cedidos para a Recovery</mat-card-subtitle>
                        </mat-card-header>
                        <div
                            mat-card-image
                            class="imgHome imgRecovery"
                            routerLink="/natura/recovery">
                        </div>
                        <mat-card-content class="social">
                            <span
                                (click)="openRecovery()"
                                #tooltip="matTooltip"
                                matTooltip="Visualizar os procedimentos">
                                <fa-icon [icon]="faCircleInfo"></fa-icon>
                            </span>
                        </mat-card-content>
                    </mat-card>
                </div> -->
            </mat-expansion-panel>
            <p class="space"></p>
            <mat-expansion-panel class="lastRow">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Simuladores
                    </mat-panel-title>
                    <mat-panel-description>
                        Exibe as views de Simulador
                        <mat-icon>exposure</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="home">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="simulador-avatar"></div>
                            <mat-card-title>Simulador Cobrança</mat-card-title>
                            <mat-card-subtitle>Simular valores para pagamento de acordo</mat-card-subtitle>
                        </mat-card-header>
                        <div
                            mat-card-image
                            class="imgHome imgSimulador"
                            routerLink="/natura/simulador-cobranca">
                        </div>
                        <mat-card-content class="social">
                            <span
                                (click)="openSimuladorCobrancaDialog()"
                                #tooltip="matTooltip"
                                matTooltip="Visualizar os procedimentos">
                                <fa-icon [icon]="faCircleInfo"></fa-icon>
                            </span>
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="simulador-lucro"></div>
                            <mat-card-title>Simulador Lucro Default</mat-card-title>
                            <mat-card-subtitle>Simular valores de lucro das consultoras</mat-card-subtitle>
                        </mat-card-header>
                        <div
                            mat-card-image
                            class="imgHome imgLucro"
                            routerLink="/natura/simulador-lucro-default">
                        </div>
                        <mat-card-content class="social">
                            <span
                                (click)="openSimuladorLucroDefaultDialog()"
                                #tooltip="matTooltip"
                                matTooltip="Visualizar os procedimentos">
                                <fa-icon [icon]="faCircleInfo"></fa-icon>
                            </span>
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="tempo-avatar"></div>
                            <mat-card-title>Calculadora Tempo de Relação</mat-card-title>
                            <mat-card-subtitle>Calcular tempo total ativo da consultora</mat-card-subtitle>
                        </mat-card-header>
                        <div
                            mat-card-image
                            class="imgHome imgTempo"
                            routerLink="/natura/calculadora-tempo-de-relacao">
                        </div>
                        <mat-card-content class="social">
                            <span
                                (click)="openCalculadoraTempoDeRelacaoDialog()"
                                #tooltip="matTooltip"
                                matTooltip="Visualizar os procedimentos">
                                <fa-icon [icon]="faCircleInfo"></fa-icon>
                            </span>
                        </mat-card-content>
                    </mat-card>
                </div>
                <!-- <div class="home">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="titulo-avatar"></div>
                            <mat-card-title>Título Corrigido</mat-card-title>
                            <mat-card-subtitle>Calcular valor do título corrigido conforme dias de atraso</mat-card-subtitle>
                        </mat-card-header>
                        <div
                            mat-card-image
                            class="imgHome imgTitulo"
                            routerLink="/natura/simulador-lucro-default">
                        </div>
                        <mat-card-content class="social">
                            <span
                                (click)="openSimuladorLucroDefaultDialog()"
                                #tooltip="matTooltip"
                                matTooltip="Visualizar os procedimentos">
                                <fa-icon [icon]="faCircleInfo"></fa-icon>
                            </span>
                        </mat-card-content>
                    </mat-card>
                </div> -->
            </mat-expansion-panel>
        </mat-accordion>        
    </div>
    
</body>