<div class="main">
    <div class="title">
        <div>
          <div id="logoavon"></div>
        </div>
        <h1>Pesquisa - {{title}}</h1>
        <div class="menu">
            <h4><mat-icon class="color" matSuffix>account_circle</mat-icon> {{user}} </h4>
            <button
                routerLink="/natura"
                class="logout"
                color="accent"
                mat-button ><mat-icon>arrow_back</mat-icon>Voltar</button>
        </div>
    </div>
    <p class="space"> </p>

    <form [formGroup]="formularioPesquisaNordeste" class="example-form">
        <div class="pesquisar">
            <div class="search">
                <mat-form-field class="codigoCn" appearance="fill" color="accent">
                    <mat-label>Código da CN</mat-label>
                    <input
                    matInput
                    placeholder="Digite o Código da CN"
                    ngDefaultControl
                    maxlength="20"
                    formControlName="codigo_cn"
                    [(ngModel)]="codigo_cn"
                    >
                    <mat-icon matSuffix>account_circle</mat-icon>
                    <mat-hint>Código da Consultora</mat-hint>
                </mat-form-field>
            </div>
            <div class="botoes">

                <button
                class="validar"
                mat-raised-button
                (click)="limpar()"
                color="warn"
                aria-label="Example icon button with a home icon">
                    <mat-icon>clear</mat-icon> Limpar
                </button>

                <button
                class="validar"
                mat-raised-button
                (click)="carregar()"
                color="accent"
                aria-label="Example icon button with a home icon">
                    <mat-icon>search</mat-icon> Pesquisar
                </button>
            </div>
        </div>
  </form>

  <div *ngIf="!clickedRows.size">
    <div class="card">
      <mat-card class="card-width">
        <mat-card-content>
          <p class="title-card">Nome GM</p>
          <p>Clique eu uma linha da tabela para exibir.</p>
        </mat-card-content>
      </mat-card>
  
      <mat-card class="card-width">
        <mat-card-content>
          <p class="title-card">Nome RE</p>
          <p>Clique eu uma linha da tabela para exibir.</p>
        </mat-card-content>
      </mat-card>
  
      <mat-card class="card-width">
        <mat-card-content>
          <p class="title-card">Nome GV</p>
          <p>Clique eu uma linha da tabela para exibir.</p>
        </mat-card-content>
      </mat-card>
      
      <mat-card class="card-width">
        <mat-card-content>
          <p class="title-card">Nome Setor</p>
          <p>Clique eu uma linha da tabela para exibir.</p>
        </mat-card-content>
      </mat-card>
  
      <mat-card class="card-width">
        <mat-card-content>
          <p class="title-card">Nome Completo</p>
          <p>Clique eu uma linha da tabela para exibir.</p>
        </mat-card-content>
      </mat-card>
      
    </div>
    <div class="card">
      <mat-card class="card-width">
        <mat-card-content>
          <p class="title-card">Situação Vale-Pontos</p>
          <p>Clique eu uma linha da tabela para exibir.</p>
        </mat-card-content>
      </mat-card>
  
      <mat-card class="card-width">
        <mat-card-content>
          <p class="title-card">Qtde. Pontos Unitário</p>
          <p>Clique eu uma linha da tabela para exibir.</p>
        </mat-card-content>
      </mat-card>
  
      <mat-card class="card-width">
        <mat-card-content>
          <p class="title-card">Número Pedido Conquista</p>
          <p>Clique eu uma linha da tabela para exibir.</p>
        </mat-card-content>
      </mat-card>
  
      <mat-card class="card-width">
        <mat-card-content>
          <p class="title-card">Data de Conquista</p>
          <p>Clique eu uma linha da tabela para exibir.</p>
        </mat-card-content>
      </mat-card>
  
      <mat-card class="card-width">
        <mat-card-content>
          <p class="title-card">Nome da Campanha</p>
          <p>Clique eu uma linha da tabela para exibir.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

<div *ngFor="let clickedRow of clickedRows">
  <div class="card">
    <mat-card class="card-width">
      <mat-card-content>
        <p class="title-card">Nome GM</p>
        <p>{{clickedRow.nome_gm}}</p>
        <p *ngIf="clickedRow.nome_gm===null">---</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-width">
      <mat-card-content>
        <p class="title-card">Nome RE</p>
        <p>{{clickedRow.nome_re}}</p>
        <p *ngIf="clickedRow.nome_re===null">---</p>        
      </mat-card-content>
    </mat-card>

    <mat-card class="card-width">
      <mat-card-content>
        <p class="title-card">Nome GV</p>
        <p>{{clickedRow.nome_gv}}</p>
        <p *ngIf="clickedRow.nome_gv===null">---</p>   
      </mat-card-content>
    </mat-card>
    
    <mat-card class="card-width">
      <mat-card-content>
        <p class="title-card">Nome Setor</p>
        <p>{{clickedRow.nome_setor}}</p>
        <p *ngIf="clickedRow.nome_setor===null">---</p>   
      </mat-card-content>
    </mat-card>

    <mat-card class="card-width">
      <mat-card-content>
        <p class="title-card">Nome Completo</p>
        <p>{{clickedRow.nome_completo}}</p>
        <p *ngIf="clickedRow.nome_completo===null">---</p>   
      </mat-card-content>
    </mat-card>
    
  </div>
  <div class="card">
    <mat-card class="card-width">
      <mat-card-content>
        <p class="title-card">Situação Vale-Pontos</p>
        <p>{{clickedRow.situacao_vale_pontos}}</p>
        <p *ngIf="clickedRow.situacao_vale_pontos===null">---</p>   
      </mat-card-content>
    </mat-card>

    <mat-card class="card-width">
      <mat-card-content>
        <p class="title-card">Qtde. Pontos Unitário</p>
        <p>{{clickedRow.qtde_pontos_unitarios}}</p>
        <p *ngIf="clickedRow.qtde_pontos_unitarios===null">---</p>  
      </mat-card-content>
    </mat-card>

    <mat-card class="card-width">
      <mat-card-content>
        <p class="title-card">Número Pedido Conquista</p>
        <p>{{clickedRow.numero_pedido_conquista}}</p>
        <p *ngIf="clickedRow.numero_pedido_conquista===null">---</p>  
      </mat-card-content>
    </mat-card>

    <mat-card class="card-width">
      <mat-card-content>
        <p class="title-card">Data de Conquista</p>
        <p>{{clickedRow.data_conquista | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
        <p *ngIf="clickedRow.data_conquista===null">---</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-width">
      <mat-card-content>
        <p class="title-card">Nome da Campanha</p>
        <p>{{clickedRow.nome_campanha}}</p>
        <p *ngIf="clickedRow.nome_campanha.length===0">---</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

  
  

  <div class="container">

    <table mat-table *ngIf="pesquisa_efetuada===true" [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

        <ng-container matColumnDef="cod_gm">
          <th mat-header-cell *matHeaderCellDef> Cód. GM </th>
          <td mat-cell *matCellDef="let element"> {{element.cod_gm}} </td>
        </ng-container>
      
        <ng-container matColumnDef="nome_gm">
          <th mat-header-cell *matHeaderCellDef> Nome GM </th>
          <td mat-cell *matCellDef="let element"> {{element.nome_gm}} </td>
        </ng-container>
      
        <ng-container matColumnDef="cod_re">
          <th mat-header-cell *matHeaderCellDef> Cód. RE </th>
          <td mat-cell *matCellDef="let element"> {{element.cod_re}} </td>
        </ng-container>
      
        <ng-container matColumnDef="nome_re">
          <th mat-header-cell *matHeaderCellDef> Nome RE </th>
          <td mat-cell *matCellDef="let element"> {{element.nome_re}} </td>
        </ng-container>

        <ng-container matColumnDef="cod_gv">
          <th mat-header-cell *matHeaderCellDef> Cód. GV </th>
          <td mat-cell *matCellDef="let element"> {{element.cod_gv}} </td>
        </ng-container>

        <ng-container matColumnDef="nome_gv">
          <th mat-header-cell *matHeaderCellDef> Nome GV </th>
          <td mat-cell *matCellDef="let element"> {{element.nome_gv}} </td>
        </ng-container>

        <ng-container matColumnDef="cod_setor">
          <th mat-header-cell *matHeaderCellDef> Cód. Setor </th>
          <td mat-cell *matCellDef="let element"> {{element.cod_setor}} </td>
        </ng-container>

        <ng-container matColumnDef="nome_setor">
          <th mat-header-cell *matHeaderCellDef> Nome Setor </th>
          <td mat-cell *matCellDef="let element"> {{element.nome_setor}} </td>
        </ng-container>

        <ng-container matColumnDef="cod_grupo">
          <th mat-header-cell *matHeaderCellDef> Cód. Grupo </th>
          <td mat-cell *matCellDef="let element"> {{element.cod_grupo}} </td>
        </ng-container>

        <ng-container matColumnDef="cod_consultora">
          <th mat-header-cell *matHeaderCellDef> Código Consultora </th>
          <td mat-cell *matCellDef="let element"> {{element.cod_consultora}} </td>
        </ng-container>
      
        <ng-container matColumnDef="nome_completo">
          <th mat-header-cell *matHeaderCellDef> Nome Completo </th>
          <td mat-cell *matCellDef="let element"> {{element.nome_completo}} </td>
        </ng-container>
      
        <ng-container matColumnDef="situacao_vale_pontos">
          <th mat-header-cell *matHeaderCellDef> Situação Vale-Pontos </th>
          <td mat-cell *matCellDef="let element"> {{element.situacao_vale_pontos}} </td>
        </ng-container>
      
        <ng-container matColumnDef="motivo_inativacao_vale_pontos">
          <th mat-header-cell *matHeaderCellDef> Motivo Inativação Vale-Pontos </th>
          <td mat-cell *matCellDef="let element"> {{element.motivo_inativacao_vale_pontos}} </td>
        </ng-container>
      
        <ng-container matColumnDef="data_inativacao_vale_pontos">
          <th mat-header-cell *matHeaderCellDef> Data de Inativação </th>
          <td mat-cell *matCellDef="let element"> {{element.data_inativacao_vale_pontos | date: 'dd/MM/yyyy HH:mm:ss'}} </td>
        </ng-container>
      
        <ng-container matColumnDef="qtde_vale_pontos">
          <th mat-header-cell *matHeaderCellDef> Qtde. Vale-Pontos </th>
          <td mat-cell *matCellDef="let element"> {{element.qtde_vale_pontos}} </td>
        </ng-container>
      
        <ng-container matColumnDef="qtde_pontos_unitarios">
          <th mat-header-cell *matHeaderCellDef> Qtde. Pontos Unitário </th>
          <td mat-cell *matCellDef="let element"> {{element.qtde_pontos_unitarios }} </td>
        </ng-container>
      
        <ng-container matColumnDef="numero_pedido_conquista">
          <th mat-header-cell *matHeaderCellDef> Número Pedido Conquista </th>
          <td mat-cell *matCellDef="let element"> {{element.numero_pedido_conquista}} </td>
        </ng-container>
      
        <ng-container matColumnDef="ciclo_pedido_conquista">
          <th mat-header-cell *matHeaderCellDef> Ciclo Pedido Conquista </th>
          <td mat-cell *matCellDef="let element"> {{element.ciclo_pedido_conquista}} </td>
        </ng-container>
      
        <ng-container matColumnDef="data_conquista">
          <th mat-header-cell *matHeaderCellDef> Data de Conquista </th>
          <td mat-cell *matCellDef="let element"> {{element.data_conquista | date: 'dd/MM/yyyy HH:mm:ss'}} </td>
        </ng-container>
      
        <ng-container matColumnDef="numero_pedido_processamento">
          <th mat-header-cell *matHeaderCellDef> Número Pedido Processamento </th>
          <td mat-cell *matCellDef="let element"> {{element.numero_pedido_processamento}} </td>
        </ng-container>
      
        <ng-container matColumnDef="ciclo_pedido_processamento">
          <th mat-header-cell *matHeaderCellDef> Ciclo Pedido Processamento </th>
          <td mat-cell *matCellDef="let element"> {{element.ciclo_pedido_processamento}} </td>
        </ng-container>
      
        <ng-container matColumnDef="ciclo_inicio">
          <th mat-header-cell *matHeaderCellDef> Ciclo de Início </th>
          <td mat-cell *matCellDef="let element"> {{element.ciclo_inicio}} </td>
        </ng-container>
      
        <ng-container matColumnDef="ciclo_termino">
          <th mat-header-cell *matHeaderCellDef> Ciclo Término </th>
          <td mat-cell *matCellDef="let element"> {{element.ciclo_termino}} </td>
        </ng-container>
      
        <ng-container matColumnDef="nome_campanha">
          <th mat-header-cell *matHeaderCellDef> Nome da Campanha </th>
          <td mat-cell *matCellDef="let element"> {{element.nome_campanha}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr
            mat-row
            (click)="clickedRows.clear()"
            (click)="clickedRows.add(row)"
            [class.demo-row-is-clicked]="clickedRows.has(row)"
            *matRowDef="let row; columns: displayedColumns;"
        ></tr>
      </table>
</div>

   
  
  </div>
  


