<div class="main">
    <div class="title">
        <div>
          <div id="logoavon"></div>
        </div>
        <h1>{{title}}</h1>
        <div class="menu">
          <h4><mat-icon class="color" matSuffix>account_circle</mat-icon> {{user}}
          </h4>
          <button
            routerLink="/natura"
            class="logout"
            color="accent"
            mat-button><mat-icon>arrow_back</mat-icon>Voltar</button>
        </div>
      </div>

      <p class="space"> </p>

      <div class="simulador">
        <div class="left-panel">
            <mat-card class="main-card">
                <mat-card-header>
                    <mat-card-title class="titulo-form">Dados da simulação</mat-card-title>
                </mat-card-header>
                <div class="content-main">
                    <mat-card-content class="d-content">
                      <mat-form-field class="mopMatricula" appearance="fill" color="accent">
                        <mat-label>CPF</mat-label>
                        <input
                        matInput
                        ngDefaultControl
                        [disabled]="ativarSimulacao===true"
                        placeholder="Digite o Número do CPF"
                        [(ngModel)]="cpf"
                        mask="000.000.000-00"
                        (change)="validarCpf()"
                        >
                        <mat-icon matSuffix>fingerprint</mat-icon>
                        <mat-hint>Nº do CPF</mat-hint>
                      </mat-form-field>
                    </mat-card-content>
                    <mat-card-content>
                      <mat-form-field appearance="fill" class="mopMatr"  color="accent" >
                          <mat-label>Nível</mat-label>
                          <mat-select
                          [disabled]="ativarSimulacao===true"
                          disableRipple
                          ngDefaultControl
                          [(ngModel)]="nivelConsultora"
                          (valueChange)="onSelectId($event)">
                          <mat-option [value]="'Diamante'">💎 Diamante</mat-option>
                          <mat-option [value]="'Ouro'">🥇 Ouro</mat-option>
                          <mat-option [value]="'Prata'">🥈 Prata</mat-option>
                          <mat-option [value]="'Bronze'">🥉 Bronze</mat-option>
                          <mat-option [value]="'Semente'">🪴 Semente</mat-option>
                          </mat-select>
                          <mat-icon matPrefix>credit_card</mat-icon>
                          <mat-hint>Selecione uma opção</mat-hint>
                      </mat-form-field>

                    </mat-card-content>
                    <mat-card-actions align="end" class="ml-btn">
                        <button
                        [disabled]="ativarSimulacao===true"
                        class="validar"
                        matTooltip="Nova Simulação"
                        mat-icon-button
                        (click)="simular()"
                        color="accent">
                        <mat-icon>add_to_photos</mat-icon>
                    </button>
                    </mat-card-actions>
                </div>
            </mat-card>


          <mat-card *ngIf="ativarSimulacao===true" class="titles-card">
              <mat-card-header>
                <mat-card-title class="titulo-form">Insira os pedidos para a simulação</mat-card-title>
              </mat-card-header>
                <form [formGroup]="formularioSimuladorCobranca" class="example-form">
                    <p class="start">
                        
                        <mat-form-field *ngIf="ativarSimulacao===true" class="mopMatricula" appearance="fill" color="accent">
                          <mat-label>Nº do Pedido</mat-label>
                          <input
                          matInput
                          ngDefaultControl
                          placeholder="Digite o Número do Pedido"
                          formControlName="pedido_form"
                          [(ngModel)]="pedido_form"
                          >
                          <mat-icon matSuffix>comment</mat-icon>
                          <mat-hint>Nº do Pedido</mat-hint>
                        </mat-form-field>

                        <mat-form-field class="mopMatricula" appearance="fill" color="accent">
                          <mat-label>Valor Total do Pedido</mat-label>
                          <input
                          matInput
                          ngDefaultControl
                          formControlName="valor_pedido_form"
                          [(ngModel)]="valor_pedido_form"
                          currencyMask
                          [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                          >
                          <mat-icon matSuffix>attach_money</mat-icon>
                          <mat-hint>Valor Total do Pedido</mat-hint>
                        </mat-form-field>

                        
                        
                      </p>

                      <p class="start">

                        <mat-form-field class="mopMatricula" appearance="fill" color="accent">
                            <mat-label>Data do Pedido</mat-label>
                            <input
                            matInput
                            [readonly]="true"
                            [matDatepicker]="picker"
                            ngDefaultControl
                            formControlName="data_pedido_form"
                            [(ngModel)]="data_pedido_form"
                            (dateChange)="validarRegra()"
                            >
                            <mat-hint>Data do Pedido</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
  
                          <mat-form-field class="mopMatricula" appearance="fill" color="accent">
                              <mat-label>Valor do Lucro</mat-label>
                              <input
                              matInput
                              ngDefaultControl
                              [readonly]="true"
                              formControlName="valor_lucro_form"
                              [(ngModel)]="valor_lucro_form"
                              currencyMask
                              [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                              >
                              <mat-icon matSuffix>attach_money</mat-icon>
                              <mat-hint>Valor do Lucro</mat-hint>
                            </mat-form-field>
                      </p>

                      
                      <p class="start">
                        <button
                          class="validar"
                          mat-raised-button
                          (click)="limpar()"
                          color="warn"
                          aria-label="Example icon button with a home icon">
                          <mat-icon>delete</mat-icon> Limpar Formulário
                        </button>

                        <button *ngIf="exibir_tabela===true"
                          class="validar"
                          mat-raised-button
                          (click)="limparTabela()"
                          color="warn"
                          aria-label="Example icon button with a home icon">
                          <mat-icon>delete</mat-icon> Limpar Tabela
                        </button>
    

                        <button
                          class="validar"
                          mat-raised-button
                          (click)="inserir(formularioSimuladorCobranca)"
                          color="accent"
                          aria-label="Example icon button with a home icon">
                          <mat-icon>add</mat-icon> Inserir Dados na Tabela
                        </button>

                        
                </form>
            </mat-card>
            <div class="container">
              <table mat-table *ngIf="dados_adicionados>0"
                [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
                <ng-container matColumnDef="pedido">
                  <th mat-header-cell *matHeaderCellDef> Pedido </th>
                  <td mat-cell *matCellDef="let element"> {{element.pedido}}
                  </td>
                </ng-container>
        
                <ng-container matColumnDef="valor_total_pedido">
                  <th mat-header-cell *matHeaderCellDef> Valor Total do Pedido </th>
                  <td mat-cell *matCellDef="let element"> {{element.valor_total_pedido | currency: 'BRL'}} 
                  </td>
                </ng-container>
        
                <ng-container matColumnDef="data_pedido">
                  <th mat-header-cell *matHeaderCellDef> Data do Pedido </th>
                  <td mat-cell *matCellDef="let element"> {{element.data_pedido | date: 'dd/MM/yyyy'}} </td>
                </ng-container>
        
                <ng-container matColumnDef="lucro">
                  <th mat-header-cell *matHeaderCellDef> Valor do Lucro </th>
                  <td mat-cell *matCellDef="let element"> {{element.lucro | currency: 'BRL'}} </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
       
        </div>
        <div class="right-panel">
          <div *ngIf="carregando===true" class="carregando">
            <mat-spinner [diameter]="40"color="accent"></mat-spinner>
          </div>
          <mat-card *ngIf="carregando===false" class="side-card">
            <mat-card-header>
              <mat-card-title>Dados do lucro</mat-card-title>
            </mat-card-header>
            <mat-card-content class="box"> 

                <div class="parcelas">
                    <h5 class="parcelamento" color="accent">Nível da Consultora</h5>
                    <h5>🏆 {{nivelConsultora}}</h5>
                </div>
                
                <div class="parcelas">
                    <h5 class="parcelamento" color="accent">% Lucro</h5>
                    <h5>🪙 {{percentLucro | percent: '1.0-0'}}</h5>
                </div>
                
                <div class="parcelas">
                    <h5 class="parcelamento" color="accent">MDR</h5>
                    <h5>🪙 {{percentMdr | percent: '1.2-2'}}</h5>
                </div>
                
                <div class="parcelas">
                    <h5 class="parcelamento" color="accent">Valor Total dos Pedidos</h5>
                    <h5>💵 {{valorTotalPedidos | currency: 'BRL'}}</h5>
                </div>
                
                <div class="parcelas">
                    <h5 class="parcelamento" color="accent">Lucro Consultora</h5>
                    <h5>💵 {{lucroConsultora | currency: 'BRL'}}</h5>
                </div>
                
                <div class="parcelas">
                    <h5 class="parcelamento" color="accent">(-) MDR (3,99%)</h5>
                    <h5>💵 {{valorMdr | currency: 'BRL'}}</h5>
                </div>

                <div class="parcelas">
                    <h5 class="parcelamento" color="accent">(=)Lucro a pagar</h5>
                    <h5>💵 {{lucroApagar | currency: 'BRL'}}</h5>
                </div>
            </mat-card-content>
          </mat-card>

          <mat-card class="side-card">
            <div class="right-side">
              <button
                mat-icon-button
                class="validar"
                matTooltip="Limpar Tudo"
                (click)="limparTudo()"
                color="warn"
                aria-label="Example icon button with a home icon">
                <mat-icon>delete</mat-icon>
              </button>

              <button
                mat-icon-button
                class="validar"
                (click)="efetuarSimulacao()"
                matTooltip="Simular Lucro"
                color="accent"
                aria-label="Example icon button with a home icon">
                <mat-icon>attach_money</mat-icon>
              </button>

              <button
                mat-icon-button
                class="validar"
                (click)="gerarPdf()"
                matTooltip="Gerar Extrato"
                color="accent"
                aria-label="Example icon button with a home icon">
                <mat-icon>cloud_download</mat-icon>
              </button>

            </div>
          </mat-card>

          <mat-card *ngIf="carregando===false" class="side-card">
            <mat-card-header>
              <mat-card-title>Lucro Por Nível</mat-card-title>
            </mat-card-header>
            <mat-card-content class="box"> 

                <div class="parcelas">
                    <h5 class="parcelamento" color="accent">💎 Diamante</h5>
                    <h5>🪙 35%</h5>
                </div>
                
                <div class="parcelas">
                    <h5 class="parcelamento" color="accent">🥇 Ouro</h5>
                    <h5>🪙 32%</h5>
                </div>
                
                <div class="parcelas">
                    <h5 class="parcelamento" color="accent">🥈 Prata</h5>
                    <h5>🪙 30%</h5>
                </div>
                
                <div class="parcelas">
                    <h5 class="parcelamento" color="accent">🥉 Bronze</h5>
                    <h5>🪙 30%</h5>
                </div>
                
                <div class="parcelas">
                    <h5 class="parcelamento" color="accent">🪴 Semente</h5>
                    <h5>🪙 20%</h5>
                </div>
                
            </mat-card-content>
          </mat-card>


        </div>
      </div>
</div>

