<body>
    <div class="main">
        <header class="title">
            <div id="logonatura"></div>
            <h1>Painel de Consulta - Home</h1>
            <div class="menu">
                <h4><mat-icon class="color" matSuffix>account_circle</mat-icon> {{user}} </h4>
                <button class="logout" color="accent" mat-button (click)="openDialog()"><mat-icon>power_settings_new</mat-icon>Logout</button>
            </div>
        </header>
        <p class="space"> </p>
        <div class="home">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="natura-avatar"></div>
                    <mat-card-title>Natura</mat-card-title>
                    <mat-card-subtitle>Acesso à pesquisa nas bases de dados da Natura</mat-card-subtitle>
                </mat-card-header>
                <div
                    mat-card-image
                    class="imgHome imgWave"
                    routerLink="/natura"></div>
                <mat-card-content class="natura-social">
                    <span>
                        <fa-icon [icon]="faCircleInfo"></fa-icon>
                    </span>
                </mat-card-content>
            </mat-card>
    
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="avon-avatar"></div>
                    <mat-card-title>Avon</mat-card-title>
                    <mat-card-subtitle>Acesso à pesquisa nas bases de dados da Avon</mat-card-subtitle>
                </mat-card-header>
                <div
                    mat-card-image
                    class="imgHome imgNordeste"
                    routerLink="/avon"></div>
                <mat-card-content class="avon-social">
                    <span>
                        <fa-icon [icon]="faCircleInfo"></fa-icon>
                    </span>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    
</body>