body {
    background-color: #F4F4F3;

}

.natura-avatar {
  background-image: url('../../assets/img/natura_logo_2.jpg');
  background-size: cover;
  width: 4em;
  height: 4em;
  border-radius: 50%;
}

.avon-avatar {
  background-image: url('../../assets/img/avon_logo.png');
  background-size: cover;
  width: 4em;
  height: 4em;
  border-radius: 50%;
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F4F4F3;
  }

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D1020A;
  max-width: 90vw;
  width: 100%;

}

#logonatura {
  width: 12em;
  height: 3.1em;
  background-size: cover;
  display: flex;
  background-image: url('../../assets/img/consultoria.png');
  margin-left: 0.5em;
}

h1 {
  color: #fff;
}

h4 {

  color: #fff;
  display: flex;
  padding: 0.5em;
  margin-left: 0.2em;
}

.space {
  margin: 1em;

}

.example-card {
    max-width: 25em;
    margin: 2em;
    transition: transform .5s;
}

.example-card:hover {
  transform: scale(1.2);
}

.example-header-image {
  background-size: cover;
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}



.menu {
  vertical-align: middle;
  color: #fff;
}

.logout {
  color: #fff;
}

.imgHome {
  width: 27em;
  height: 14em;

}

.imgWave {
  background-image: url('../../assets/img/Consultoria\ de\ BEleza.png');
  background-size: cover;

}

.imgTroca {
  background-image: url('../../assets/img/troca.jpg');
  background-size: cover;

}

.imgCadastro {
  background-image: url('../../assets/img/cadasro.jpg');
  background-size: cover;

}

.imgReembolso {
  background-image: url('../../assets/img/reembolso.png');
  background-size: cover;

}

.imgPagamento {
  background-image: url('../../assets/img/pagamento.png');
  background-size: cover;

}

.imgDynamics {
  background-image: url('../../assets/img/dynamics-home.jpg');
  background-size: cover;

}

.imgSimulador {
  background-image: url('../../assets/img/simulador-home.jpg');
  background-size: cover;

}



.imgNordeste {
  background-image: url('../../assets/img/avon-maes.jpg');
  background-size: cover;
}

.imgLegado {
  background-image: url('../../assets/img/legado.png');
  background-size: cover;
}


.imgHome:hover {
  cursor: pointer;
}

fa-icon:hover{
  cursor: pointer;
}

.natura-social {
  color: #FF5722;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;

}

span:hover {
  cursor: pointer;
}

.avon-social {
  color: #E91E63;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;

}

.card-header {
  background-color: #FF5722;
  color: #fff;
}
