<h2 mat-dialog-title>Destaques Líderes de Negócios 2023</h2>
<mat-dialog-content class="mat-typography">
  <p>O Programa Destaques reconhece as Líderes de Negócios que se destacaram durante o ano.</p>
  <p>Este reconhecimento acontece todos os anos e serão sempre considerados os resultados referentes ao ano anterior, ou seja, são premiadas em 2023 as Líderes de Negócios que tiverem melhor desempenho em 2022 e assim sucessivamente.</p>
  <p>Aqui, você consegue consultar as Líderes de Negócios que foram reconhecidas como Destaques em 2022.</p>
  <br>
  <h3>Dúvidas?</h3>
  <p><a href="https://natura.beedoo.io/wiki/316782/Reconhecimento---L-der-de-Neg-cio" target="_blank"><b>Clique aqui</b></a> e confira as orientações completas sobre o tema.</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close><mat-icon>clear</mat-icon>Fechar</button>
</mat-dialog-actions>